In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from pathlib import Path

In [3]:
path = Path('/root/.fastai/meggitt')

In [4]:
path

PosixPath('/root/.fastai/meggitt')

In [5]:
df = pd.read_csv(path/'meggitt_sales_unique_avg_2.csv', sep=',')

In [6]:
df.columns = ['source_system', 'finance_year', 'finance_month', 'customer', 'customer_division', 'partnumber', 
              'selling_site', 'type_of_sales', 'pipeline_category', 'price']

In [7]:
df.head(7)

,source_system,finance_year,finance_month,customer,customer_division,partnumber,selling_site,type_of_sales,pipeline_category,price
0,JDE_VC,2017,1,118429JDE_VC,Military,855612-115,MAS VC,MRO,Unknown,39445.042
1,JDE_VC,2017,1,118429JDE_VC,Military,9020-011-310F-16,MAS VC,MRO,Unknown,991.900
2,JDE_VC,2017,1,126819JDE_VC,Civil,MM-00150-12-40,MAS VC,MRO,Unknown,36313.797
3,JDE_VC,2017,1,527646JDE_VC,Civil,71133,MAS VC,MRO,Unknown,6340.880
4,JDE_VC,2017,1,641894JDE_VC,Civil,MM-00150-12-40,MAS VC,MRO,Unknown,36313.797
5,JDE_VC,2017,1,65073JDE_VC,Military,8941-01,MAS VC,MRO,Unknown,4293.900
6,JDE_VC,2017,1,65073JDE_VC,Military,904450-01,MAS VC,MRO,Unknown,5888.259

In [8]:
df.shape

(139665, 10)

In [11]:
df = df[df.price != 0]
df = df[np.abs(df.price-df.price.mean()) <= (3*df.price.std())] # Remove price outliers
df = df[df.type_of_sales != 'XXXStretch']
df = df[df.type_of_sales == 'Spares']

In [12]:
df.shape

(90024, 10)

In [13]:
df.describe()

       finance_year  finance_month         price
count  90024.000000   90024.000000  90024.000000
mean    2017.831345       5.959444   6106.293207
std        0.761993       3.346194  10178.772012
min     2017.000000       1.000000      0.010000
25%     2017.000000       3.000000    547.820000
50%     2018.000000       6.000000   1886.960000
75%     2018.000000       9.000000   6753.500000
max     2019.000000      12.000000  71318.260000

In [14]:
df = pd.get_dummies(df)

In [15]:
df.head()

,finance_year,finance_month,price,source_system_JDE_VC,source_system_MFPRAV,source_system_MSAPXX,source_system_ORACVC,source_system_QTM_UK,source_system_QTM_US,source_system_SAP_SG,...,selling_site_MSS Basingstoke,selling_site_MSS Fribourg,selling_site_MSS OECO Portland,selling_site_MSS Orange County,selling_site_NASCO,type_of_sales_Spares,pipeline_category_Base,pipeline_category_IP,pipeline_category_RMU,pipeline_category_Unknown
7,2017,1,598.0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
8,2017,1,1638.0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
9,2017,1,1326.0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
48,2017,2,4165.2,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
50,2017,2,4745.0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [17]:
df.shape

(176659, 18940)

In [18]:
dep_var = 'price'
labels = np.array(df[dep_var])
features= df.drop(dep_var, axis = 1)

In [19]:
labels.shape

(176659,)

In [20]:
features.shape

(176659, 18939)

In [21]:
# Saving feature names for later use
feature_list = list(features.columns)
# Convert to numpy array
features = np.array(features)

MemoryError:

In [33]:
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)

In [38]:
features.shape[0] * 0.8

302610.4

In [39]:
# Split the data into training and testing sets
split = 302610
train_features, test_features, train_labels, test_labels = features[:split], features[split:], labels[:split], labels[split:]

In [40]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (302610, 6357)
Training Labels Shape: (302610,)
Testing Features Shape: (75653, 6357)
Testing Labels Shape: (75653,)

In [41]:
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)

In [ ]:
rf.fit(train_features, train_labels);