In [1]:
%load_ext autoreload
%autoreload 2

%matplotlib inline

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path

In [3]:
path=Path('/kaggle/data_science_bowl')
path

PosixPath('/kaggle/data_science_bowl')

### Read Data

In [4]:
def read_data():
    train_df = pd.read_csv(path/'train.csv')
    test_df = pd.read_csv(path/'test.csv')
    train_labels_df = pd.read_csv(path/'train_labels.csv')
    sample_submission_df = pd.read_csv(path/'sample_submission.csv')
    return train_df, test_df, train_labels_df, sample_submission_df

In [5]:
train_df, test_df, train_labels_df, sample_submission_df = read_data()

In [6]:
train_df.head()

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world
0,27253bdc,45bb1e1b6b50c07b,2019-09-06T17:53:46.937Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE
1,27253bdc,17eeb7f223665f53,2019-09-06T17:54:17.519Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Magma Peak - Level 1,Clip,MAGMAPEAK
2,77261ab5,0848ef14a8dc6892,2019-09-06T17:54:56.302Z,"{""version"":""1.0"",""event_count"":1,""game_time"":0...",0001e90f,1,2000,0,Sandcastle Builder (Activity),Activity,MAGMAPEAK
3,b2dba42b,0848ef14a8dc6892,2019-09-06T17:54:56.387Z,"{""description"":""Let's build a sandcastle! Firs...",0001e90f,2,3010,53,Sandcastle Builder (Activity),Activity,MAGMAPEAK
4,1bb5fbdb,0848ef14a8dc6892,2019-09-06T17:55:03.253Z,"{""description"":""Let's build a sandcastle! Firs...",0001e90f,3,3110,6972,Sandcastle Builder (Activity),Activity,MAGMAPEAK

In [7]:
test_df.head()

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world
0,27253bdc,0ea9ecc81a565215,2019-09-10T16:50:24.910Z,"{""event_code"": 2000, ""event_count"": 1}",00abaee7,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE
1,27253bdc,c1ea43d8b8261d27,2019-09-10T16:50:55.503Z,"{""event_code"": 2000, ""event_count"": 1}",00abaee7,1,2000,0,Magma Peak - Level 1,Clip,MAGMAPEAK
2,27253bdc,7ed86c6b72e725e2,2019-09-10T16:51:51.805Z,"{""event_code"": 2000, ""event_count"": 1}",00abaee7,1,2000,0,Magma Peak - Level 2,Clip,MAGMAPEAK
3,27253bdc,7e516ace50e7fe67,2019-09-10T16:53:12.825Z,"{""event_code"": 2000, ""event_count"": 1}",00abaee7,1,2000,0,Crystal Caves - Level 1,Clip,CRYSTALCAVES
4,7d093bf9,a022c3f60ba547e7,2019-09-10T16:54:12.115Z,"{""version"":""1.0"",""round"":0,""event_count"":1,""ga...",00abaee7,1,2000,0,Chow Time,Game,CRYSTALCAVES

In [8]:
train_labels_df.head()

,game_session,installation_id,title,num_correct,num_incorrect,accuracy,accuracy_group
0,6bdf9623adc94d89,0006a69f,Mushroom Sorter (Assessment),1,0,1.0,3
1,77b8ee947eb84b4e,0006a69f,Bird Measurer (Assessment),0,11,0.0,0
2,901acc108f55a5a1,0006a69f,Mushroom Sorter (Assessment),1,0,1.0,3
3,9501794defd84e4d,0006a69f,Mushroom Sorter (Assessment),1,1,0.5,2
4,a9ef3ecb3d1acc6a,0006a69f,Bird Measurer (Assessment),1,0,1.0,3

In [9]:
installation_id_cnt = train_labels_df.groupby('installation_id')['installation_id'].size()
installation_id_cnt[installation_id_cnt > 1]

installation_id
0006a69f    5
0006c192    3
001d0ed0    5
002db7e3    9
003372b0    6
           ..
ff90db99    7
ff9305d7    4
ff9715db    9
ffc90c32    6
ffeb0b1b    3
Name: installation_id, Length: 2587, dtype: int64

In [10]:
train_labels_df_acc_group = train_labels_df.groupby(['installation_id']).agg({'accuracy_group': ['mean', 'std', list]})
train_labels_df_acc_group.columns = ['mean', 'std', 'list']
train_labels_df_acc_group['mean_rounded'] = train_labels_df_acc_group['mean'].apply(lambda x: round(x))
train_labels_df_acc_group.head(20)

                     mean       std                         list  mean_rounded
installation_id
0006a69f         2.200000  1.303840              [3, 0, 3, 2, 3]             2
0006c192         1.666667  1.527525                    [3, 2, 0]             2
00129856         3.000000       NaN                          [3]             3
001d0ed0         1.600000  1.516575              [0, 0, 3, 2, 3]             2
00225f67         0.000000       NaN                          [0]             0
00279ac5         0.000000       NaN                          [0]             0
002db7e3         1.666667  1.224745  [2, 3, 3, 3, 1, 0, 2, 1, 0]             2
003372b0         2.333333  1.211060           [3, 3, 2, 3, 0, 3]             2
004c2091         1.500000  1.732051                 [0, 3, 0, 3]             2
00634433         2.000000  1.732051                    [3, 3, 0]             2
00667b88         1.500000  2.121320                       [0, 3]             2
00691033         0.555556  1.013794  [0, 1, 0, 0, 1, 0, 0, 3, 0]             1
00a0dbeb         0.000000  0.000000                 [0, 0, 0, 0]             0
00a53963         3.000000       NaN                          [3]             3
00ad158e         1.000000       NaN                          [1]             1
00b9d8e6         2.000000       NaN                          [2]             2
00cef781         3.000000       NaN                          [3]             3
00e17272         2.750000  0.462910     [3, 2, 3, 2, 3, 3, 3, 3]             3
00e536bf         2.250000  1.164965     [1, 3, 0, 2, 3, 3, 3, 3]             2
00fa8681         1.333333  1.527525                    [1, 0, 3]             1

In [11]:
sample_submission_df.head()

  installation_id  accuracy_group
0        00abaee7               3
1        01242218               3
2        017c5718               3
3        01a44906               3
4        01bc6cb6               3

In [12]:
sample_submission_df.groupby(['installation_id'])[['installation_id']].count()

                 installation_id
installation_id
00abaee7                       1
01242218                       1
017c5718                       1
01a44906                       1
01bc6cb6                       1
...                          ...
fee254cf                       1
ff57e602                       1
ffc73fb2                       1
ffe00ca8                       1
ffe774cc                       1

[1000 rows x 1 columns]

In [13]:
sample_session = '6bdf9623adc94d89'

In [14]:
train_labels_df[train_labels_df['game_session'] == sample_session]

,game_session,installation_id,title,num_correct,num_incorrect,accuracy,accuracy_group
0,6bdf9623adc94d89,0006a69f,Mushroom Sorter (Assessment),1,0,1.0,3

In [15]:
train_df[train_df['game_session'] == sample_session]

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world
2768,3bfd1a65,6bdf9623adc94d89,2019-08-06T05:37:50.020Z,"{""version"":""1.0"",""event_count"":1,""game_time"":0...",0006a69f,1,2000,0,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2769,db02c830,6bdf9623adc94d89,2019-08-06T05:37:50.078Z,"{""event_count"":2,""game_time"":77,""event_code"":2...",0006a69f,2,2025,77,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2770,a1e4395d,6bdf9623adc94d89,2019-08-06T05:37:50.082Z,"{""description"":""Pull three mushrooms out of th...",0006a69f,3,3010,77,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2771,7da34a02,6bdf9623adc94d89,2019-08-06T05:37:52.799Z,"{""coordinates"":{""x"":199,""y"":484,""stage_width"":...",0006a69f,4,4070,2784,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2772,28ed704e,6bdf9623adc94d89,2019-08-06T05:37:53.631Z,"{""height"":1,""coordinates"":{""x"":171,""y"":519,""st...",0006a69f,5,4025,3625,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2773,a52b92d5,6bdf9623adc94d89,2019-08-06T05:37:53.632Z,"{""description"":""Pull three mushrooms out of th...",0006a69f,6,3110,3625,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2774,9d29771f,6bdf9623adc94d89,2019-08-06T05:37:53.635Z,"{""description"":""That's one!"",""identifier"":""Dot...",0006a69f,7,3021,3625,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2775,c74f40cd,6bdf9623adc94d89,2019-08-06T05:37:54.253Z,"{""description"":""That's one!"",""identifier"":""Dot...",0006a69f,8,3121,4250,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2776,28ed704e,6bdf9623adc94d89,2019-08-06T05:37:54.930Z,"{""height"":2,""coordinates"":{""x"":496,""y"":502,""st...",0006a69f,9,4025,4925,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2777,9d29771f,6bdf9623adc94d89,2019-08-06T05:37:54.934Z,"{""description"":""two..."",""identifier"":""Dot_Two""...",0006a69f,10,3021,4925,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2778,c74f40cd,6bdf9623adc94d89,2019-08-06T05:37:55.464Z,"{""description"":""two..."",""identifier"":""Dot_Two""...",0006a69f,11,3121,5459,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2779,28ed704e,6bdf9623adc94d89,2019-08-06T05:37:56.000Z,"{""height"":4,""coordinates"":{""x"":327,""y"":543,""st...",0006a69f,12,4025,6000,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2780,9d29771f,6bdf9623adc94d89,2019-08-06T05:37:56.003Z,"{""description"":""and three!"",""identifier"":""Dot_...",0006a69f,13,3021,6000,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2781,3dfd4aa4,6bdf9623adc94d89,2019-08-06T05:37:56.693Z,"{""event_count"":16,""game_time"":6692,""event_code...",0006a69f,16,2020,6692,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2782,83c6c409,6bdf9623adc94d89,2019-08-06T05:37:56.693Z,"{""duration"":6615,""event_count"":15,""game_time"":...",0006a69f,15,2035,6692,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2783,c74f40cd,6bdf9623adc94d89,2019-08-06T05:37:56.693Z,"{""description"":""and three!"",""identifier"":""Dot_...",0006a69f,14,3121,6692,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2784,a1e4395d,6bdf9623adc94d89,2019-08-06T05:37:56.697Z,"{""description"":""Now order these mushrooms by h...",0006a69f,17,3010,6692,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2785,7da34a02,6bdf9623adc94d89,2019-08-06T05:37:58.885Z,"{""coordinates"":{""x"":323,""y"":534,""stage_width"":...",0006a69f,18,4070,8876,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2786,7da34a02,6bdf9623adc94d89,2019-08-06T05:37:59.759Z,"{""coordinates"":{""x"":333,""y"":551,""stage_width"":...",0006a69f,19,4070,9742,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2787,7da34a02,6bdf9623adc94d89,2019-08-06T05:38:00.706Z,"{""coordinates"":{""x"":328,""y"":534,""stage_width"":...",0006a69f,20,4070,10692,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2788,a52b92d5,6bdf9623adc94d89,2019-08-06T05:38:00.716Z,"{""description"":""Now order these mushrooms by h...",0006a69f,21,3110,10692,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2789,7da34a02,6bdf9623adc94d89,2019-08-06T05:38:01.621Z,"{""coordinates"":{""x"":290,""y"":536,""stage_width"":...",0006a69f,22,4070,11601,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2790,fbaf3456,6bdf9623adc94d89,2019-08-06T05:38:02.273Z,"{""height"":4,""stumps"":[0,0,0],""coordinates"":{""x...",0006a69f,23,4030,12251,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2791,5f0eb72c,6bdf9623adc94d89,2019-08-06T05:38:03.621Z,"{""height"":4,""destination"":""right"",""stumps"":[0,...",0006a69f,24,4020,13618,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2792,fbaf3456,6bdf9623adc94d89,2019-08-06T05:38:04.420Z,"{""height"":2,""stumps"":[0,0,4],""coordinates"":{""x...",0006a69f,25,4030,14401,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2793,5f0eb72c,6bdf9623adc94d89,2019-08-06T05:38:05.265Z,"{""height"":2,""destination"":""middle"",""stumps"":[0...",0006a69f,26,4020,15259,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2794,fbaf3456,6bdf9623adc94d89,2019-08-06T05:38:05.766Z,"{""height"":1,""stumps"":[0,2,4],""coordinates"":{""x...",0006a69f,27,4030,15743,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2795,5f0eb72c,6bdf9623adc94d89,2019-08-06T05:38:06.823Z,"{""height"":1,""destination"":""left"",""stumps"":[1,2...",0006a69f,28,4020,16826,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2796,a1e4395d,6bdf9623adc94d89,2019-08-06T05:38:06.826Z,"{""description"":""Okay, when you want to check y...",0006a69f,29,3010,16826,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2797,25fa8af4,6bdf9623adc94d89,2019-08-06T05:38:08.036Z,"{""correct"":true,""stumps"":[1,2,4],""event_count""...",0006a69f,30,4100,18026,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2798,a52b92d5,6bdf9623adc94d89,2019-08-06T05:38:08.039Z,"{""description"":""Okay, when you want to check y...",0006a69f,31,3110,18026,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2799,9d29771f,6bdf9623adc94d89,2019-08-06T05:38:08.040Z,"{""description"":""Alright! This one is the littl...",0006a69f,32,3021,18026,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2800,c74f40cd,6bdf9623adc94d89,2019-08-06T05:38:12.223Z,"{""description"":""Alright! This one is the littl...",0006a69f,33,3121,22218,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2801,6c930e6e,6bdf9623adc94d89,2019-08-06T05:38:12.836Z,"{""duration"":16126,""misses"":0,""event_count"":34,...",0006a69f,34,2030,22818,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2802,a5be6304,6bdf9623adc94d89,2019-08-06T05:38:16.835Z,"{""session_duration"":26827,""exit_type"":""game_co...",0006a69f,35,2010,26827,Mushroom Sorter (Assessment),Assessment,TREETOPCITY

In [16]:
# df_event_count = train_df.groupby(['installation_id'])['event_id'].count().reset_index()
df_event_count = train_df.groupby(['installation_id', 'event_id']).agg({'event_id': ['count']})
df_event_count.columns = ['count']

In [17]:
df_event_count.head(8)

                          count
installation_id event_id
0001e90f        08fd73f3     57
                1325467d    117
                16dffff1      3
                1996c610     13
                1bb5fbdb     62
                26fd2d99     57
                27253bdc      5
                2b9272f4     15

In [18]:
df_event_count_pivot = df_event_count.pivot_table(index = 'installation_id', columns = ['event_id'], values = 'count')
df_event_count_pivot = df_event_count_pivot.fillna(0)

In [19]:
df_event_count_pivot

event_id,003cd2ee,0086365d,00c73085,01ca3a3c,022b4259,02a42007,0330ab6a,0413e89d,04df9b66,05ad839b,...,f56e0afc,f5b8c21a,f6947f54,f71c4741,f7e47413,f806dc10,f93fc684,fbaf3456,fcfdffb6,fd20ea40
installation_id,,,,,,,,,,,,,,,,,,,,,
0001e90f,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,66.0,66.0,4.0,0.0,0.0,0.0,0.0
000447c4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0
0006a69f,0.0,0.0,0.0,0.0,24.0,70.0,0.0,29.0,0.0,0.0,...,2.0,3.0,2.0,48.0,45.0,9.0,0.0,18.0,45.0,0.0
0006c192,0.0,1.0,3.0,0.0,8.0,0.0,9.0,10.0,0.0,0.0,...,1.0,0.0,1.0,15.0,14.0,0.0,1.0,14.0,35.0,0.0
0009a5a9,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fff64664,0.0,0.0,0.0,0.0,0.0,0.0,57.0,0.0,0.0,0.0,...,0.0,0.0,0.0,17.0,17.0,0.0,2.0,0.0,0.0,0.0
fff70c1e,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,10.0,10.0,0.0,0.0,0.0,0.0,0.0
fff744ce,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
fff944d5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
fffc0583,0.0,0.0,0.0,0.0,0.0,7.0,6.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

## Feature Engineering

In [20]:
def extract_time_features(df):
    df['timestamp'] = pd.to_datetime(df['timestamp'])
    df['date'] = df['timestamp'].dt.date
    df['month'] = df['timestamp'].dt.month
    df['hour'] = df['timestamp'].dt.hour
    df['year'] = df['timestamp'].dt.year
    df['dayofweek'] = df['timestamp'].dt.dayofweek
    df['weekofyear'] = df['timestamp'].dt.weekofyear
    df['dayofyear'] = df['timestamp'].dt.dayofyear
    df['quarter'] = df['timestamp'].dt.quarter
    df['is_month_start'] = df['timestamp'].dt.is_month_start 
    return df
    
def get_numeric_columns(df, column):
    df = df.groupby('installation_id').agg({f'{column}': ['mean', 'sum', 'min', 'max', 'std', 'skew', 'median']})
    df[column].fillna(df[column].mean(), inplace = True)
    df.columns = [f'{column}_mean', f'{column}_sum', f'{column}_min', f'{column}_max', f'{column}_std', f'{column}_skew', f'{column}_median']
    return df

def get_object_columns(df, columns):
    df = df.groupby(['installation_id', columns])['event_id'].count().reset_index()
    df = df.pivot_table(index = 'installation_id', columns = [columns], values = 'event_id')
    df.columns = list(df.columns)
    df.fillna(0, inplace = True)
    return df

def get_numeric_columns_add(df, agg_column, column):
    df = df.groupby(['installation_id', agg_column]).agg({f'{column}': ['mean', 'sum', 'min', 'max', 'std', 'skew']}).reset_index()
    df = df.pivot_table(index = 'installation_id', columns = [agg_column], values = [col for col in df.columns if col not in ['installation_id', 'type']])
    df[column].fillna(df[column].mean(), inplace = True)
    df.columns = list(df.columns)
    return df

def get_event_counts(df):
    df_event_count = train_df.groupby(['installation_id', 'event_id']).agg({'event_id': ['count']})
    df_event_count.columns = ['count']
    df_event_count_pivot = df_event_count.pivot_table(index = 'installation_id', columns = ['event_id'], values = 'count')
    df_event_count_pivot = df_event_count_pivot.fillna(0)
    return df_event_count_pivot

def perform_features_engineering(train_df, test_df, train_labels_df):
    print('Perform features engineering')
    numerical_columns = ['game_time']
    categorical_columns = ['type', 'world']

    comp_train_df = pd.DataFrame({'installation_id': train_df['installation_id'].unique()})
    comp_train_df.set_index('installation_id', inplace = True)
    comp_test_df = pd.DataFrame({'installation_id': test_df['installation_id'].unique()})
    comp_test_df.set_index('installation_id', inplace = True)

    test_df = extract_time_features(test_df)
    train_df = extract_time_features(train_df)

    for i in numerical_columns:
        comp_train_df = comp_train_df.merge(get_numeric_columns(train_df, i), left_index = True, right_index = True)
        comp_test_df = comp_test_df.merge(get_numeric_columns(test_df, i), left_index = True, right_index = True)
        
    for i in categorical_columns:
        comp_train_df = comp_train_df.merge(get_object_columns(train_df, i), left_index = True, right_index = True)
        comp_test_df = comp_test_df.merge(get_object_columns(test_df, i), left_index = True, right_index = True)
        
    comp_train_df = comp_train_df.merge(get_event_counts(train_df), left_index = True, right_index = True)
        
#     for i in categorical_columns:
#         for j in numerical_columns:
#             comp_train_df = comp_train_df.merge(get_numeric_columns_add(train_df, i, j), left_index = True, right_index = True)
#             comp_test_df = comp_test_df.merge(get_numeric_columns_add(test_df, i, j), left_index = True, right_index = True)
        
    comp_train_df.reset_index(inplace = True)
    comp_test_df.reset_index(inplace = True)
    
#     # get the mode of the title
#     labels_map = dict(train_labels_df.groupby('title')['accuracy_group'].agg(lambda x:x.value_counts().index[0]))
#     # merge target
#     labels = train_labels_df[['installation_id', 'title', 'accuracy_group']]
#     # replace title with the mode
#     labels['title'] = labels['title'].map(labels_map)
#     # get title from the test set
#     comp_test_df['title'] = test_df.groupby('installation_id').last()['title'].map(labels_map).reset_index(drop = True)
#     # join train with labels
    train_labels_df_acc_group = train_labels_df.groupby(['installation_id']).agg({'accuracy_group': ['mean']})
    train_labels_df_acc_group.columns = ['accuracy_group']
    train_labels_df_acc_group['accuracy_group'] = train_labels_df_acc_group['accuracy_group'].apply(lambda x: round(x))
    
    comp_train_df = train_labels_df_acc_group.merge(comp_train_df, on = 'installation_id', how = 'left')
#     title_counter = {e[0]:i for i,e in enumerate (dict(comp_train_df['title'].value_counts()).items())}
#     title_map = {'title': title_counter}
#     comp_train_df.replace(title_map, inplace=True)
    
    return comp_train_df, comp_test_df

In [21]:
comp_train_df, comp_test_df = perform_features_engineering(train_df, test_df, train_labels_df)

Perform features engineering

/opt/anaconda3/envs/deeplearning/lib/python3.7/site-packages/pandas/core/generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [22]:
comp_train_x = comp_train_df[[i for i in comp_train_df.columns if i not in ['accuracy_group', 'installation_id', 'game_session']]]

In [23]:
comp_train_df

,installation_id,accuracy_group,game_time_mean,game_time_sum,game_time_min,game_time_max,game_time_std,game_time_skew,game_time_median,Activity,...,f56e0afc,f5b8c21a,f6947f54,f71c4741,f7e47413,f806dc10,f93fc684,fbaf3456,fcfdffb6,fd20ea40
0,0006a69f,2,82491.007366,313548319,0,1520600,159789.192183,7.504204,50155.0,1771.0,...,2.0,3.0,2.0,48.0,45.0,9.0,0.0,18.0,45.0,0.0
1,0006c192,2,90398.352968,201045937,0,395901,77779.338412,1.366377,69533.0,1206.0,...,1.0,0.0,1.0,15.0,14.0,0.0,1.0,14.0,35.0,0.0
2,00129856,3,99141.346988,82287318,0,370945,77906.465874,1.126816,76479.0,786.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,001d0ed0,2,77631.357004,79805035,0,393790,80681.341963,1.471436,47707.0,76.0,...,1.0,0.0,0.0,42.0,42.0,0.0,2.0,8.0,0.0,0.0
4,00225f67,0,70398.623824,67371483,0,192166,50706.362921,0.441866,62797.0,291.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,15.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3609,ff9305d7,0,106055.828434,418496299,0,445379,94619.434874,1.115646,71400.0,2486.0,...,2.0,0.0,2.0,0.0,0.0,4.0,2.0,13.0,0.0,0.0
3610,ff9715db,2,63466.335274,130804117,0,1589444,94560.021344,12.187013,48908.0,909.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,9.0,31.0,1.0
3611,ffc90c32,3,79080.932136,158478188,0,827160,109443.413015,4.028416,51465.0,479.0,...,1.0,3.0,2.0,50.0,50.0,3.0,2.0,10.0,10.0,1.0
3612,ffd2871d,3,173255.870612,424476883,0,1204349,193862.300262,2.677175,113377.5,1382.0,...,0.0,0.0,0.0,9.0,8.0,6.0,2.0,0.0,0.0,0.0
3613,ffeb0b1b,1,214236.207784,341278279,0,800116,214417.731703,1.202195,137577.0,381.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8.0,15.0,0.0,0.0

In [24]:
list(comp_train_df.columns)

['installation_id',
 'accuracy_group',
 'game_time_mean',
 'game_time_sum',
 'game_time_min',
 'game_time_max',
 'game_time_std',
 'game_time_skew',
 'game_time_median',
 'Activity',
 'Assessment',
 'Clip',
 'Game',
 'CRYSTALCAVES',
 'MAGMAPEAK',
 'NONE',
 'TREETOPCITY',
 '003cd2ee',
 '0086365d',
 '00c73085',
 '01ca3a3c',
 '022b4259',
 '02a42007',
 '0330ab6a',
 '0413e89d',
 '04df9b66',
 '05ad839b',
 '06372577',
 '070a5291',
 '08fd73f3',
 '08ff79ad',
 '0a08139c',
 '0ce40006',
 '0d18d96c',
 '0d1da71f',
 '0db6d71d',
 '119b5b02',
 '1325467d',
 '1340b8d7',
 '1375ccb7',
 '13f56524',
 '14de4c5d',
 '155f62a4',
 '1575e76c',
 '15a43e5b',
 '15ba1109',
 '15eb4a7d',
 '15f99afc',
 '160654fd',
 '16667cc5',
 '16dffff1',
 '17113b36',
 '17ca3959',
 '19967db1',
 '1996c610',
 '1af8be29',
 '1b54d27f',
 '1bb5fbdb',
 '1beb320a',
 '1c178d24',
 '1cc7cfca',
 '1cf54632',
 '1f19558b',
 '222660ff',
 '2230fab4',
 '250513af',
 '25fa8af4',
 '262136f4',
 '26a5a3dd',
 '26fd2d99',
 '27253bdc',
 '28520915',
 '28a4eb9a',
 '28ed704e',
 '28f975ea',
 '29a42aea',
 '29bdd9ba',
 '29f54413',
 '2a444e03',
 '2a512369',
 '2b058fe3',
 '2b9272f4',
 '2c4e6db0',
 '2dc29e21',
 '2dcad279',
 '2ec694de',
 '2fb91ec1',
 '30614231',
 '30df3273',
 '31973d56',
 '3323d7e9',
 '33505eae',
 '3393b68b',
 '363c86c9',
 '363d3849',
 '36fa3ebe',
 '37937459',
 '37c53127',
 '37db1c2f',
 '37ee8496',
 '38074c54',
 '392e14df',
 '3a4be871',
 '3afb49e6',
 '3afde5dd',
 '3b2048ee',
 '3babcb9b',
 '3bb91ced',
 '3bb91dda',
 '3bf1cf26',
 '3bfd1a65',
 '3ccd3f02',
 '3d0b9317',
 '3d63345e',
 '3d8c61b0',
 '3dcdda7f',
 '3ddc79c3',
 '3dfd4aa4',
 '3edf6747',
 '3ee399c3',
 '4074bac2',
 '44cb4907',
 '45d01abe',
 '461eace6',
 '46b50ba8',
 '46cd75b4',
 '47026d5f',
 '47efca07',
 '47f43a44',
 '48349b14',
 '4901243f',
 '499edb7c',
 '49ed92e9',
 '4a09ace1',
 '4a4c3d21',
 '4b5efe37',
 '4bb2f698',
 '4c2ec19f',
 '4d6737eb',
 '4d911100',
 '4e5fc6f5',
 '4ef8cdd3',
 '51102b85',
 '51311d7a',
 '5154fc30',
 '5290eab1',
 '532a2afb',
 '5348fd84',
 '53c6e11a',
 '55115cbd',
 '562cec5f',
 '565a3990',
 '56817e2b',
 '56bcd38d',
 '56cd3b43',
 '5859dfb6',
 '587b5989',
 '58a0de5c',
 '598f4598',
 '5a848010',
 '5b49460a',
 '5be391b5',
 '5c2f29ca',
 '5c3d2b2f',
 '5d042115',
 '5dc079d8',
 '5de79a6a',
 '5e109ec3',
 '5e3ea25a',
 '5e812b27',
 '5f0eb72c',
 '5f5b2617',
 '6043a2b4',
 '6077cc36',
 '6088b756',
 '611485c5',
 '63f13dd7',
 '65a38bf7',
 '65abac75',
 '67439901',
 '67aa2ada',
 '69fdac0a',
 '6aeafed4',
 '6bf9e3e1',
 '6c517a88',
 '6c930e6e',
 '6cf7d25c',
 '6d90d394',
 '6f445b57',
 '6f4adc4b',
 '6f4bd64e',
 '6f8106d9',
 '7040c096',
 '709b1251',
 '71e712d8',
 '71fe8f75',
 '731c0cbe',
 '736f9581',
 '7372e1a5',
 '73757a5e',
 '7423acbc',
 '74e5f8a7',
 '7525289a',
 '756e5507',
 '763fc34e',
 '76babcde',
 '77261ab5',
 '77c76bc5',
 '77ead60d',
 '792530f8',
 '795e4a37',
 '7961e599',
 '7ab78247',
 '7ad3efc6',
 '7cf1bc53',
 '7d093bf9',
 '7d5c30a2',
 '7da34a02',
 '7dfe6d8a',
 '7ec0c298',
 '7f0836bf',
 '7fd1ac25',
 '804ee27f',
 '828e68f9',
 '832735e1',
 '83c6c409',
 '84538528',
 '84b0e0c8',
 '857f21c0',
 '85d1b0de',
 '85de926c',
 '86ba578b',
 '86c924c4',
 '87d743c1',
 '884228c8',
 '88d4a5be',
 '895865f3',
 '89aace00',
 '8ac7cce4',
 '8af75982',
 '8b757ab8',
 '8d748b58',
 '8d7e386c',
 '8d84fa81',
 '8f094001',
 '8fee50e2',
 '907a054b',
 '90d848e0',
 '90ea0bac',
 '90efca10',
 '91561152',
 '923afab1',
 '92687c59',
 '93b353f2',
 '93edfe2e',
 '9554a50b',
 '99abe2bb',
 '99ea62f3',
 '9b01374f',
 '9b23e8ee',
 '9b4001e4',
 '9c5ef70c',
 '9ce586dd',
 '9d29771f',
 '9d4e7b25',
 '9de5e594',
 '9e34ea74',
 '9e4c8c7b',
 '9e6b7fb5',
 '9ed8f6da',
 '9ee1c98c',
 'a0faea5d',
 'a1192f43',
 'a16a373e',
 'a1bbe385',
 'a1e4395d',
 'a29c5338',
 'a2df0760',
 'a44b10dc',
 'a52b92d5',
 'a592d54e',
 'a5be6304',
 'a5e9da97',
 'a6d66e51',
 'a76029ee',
 'a7640a16',
 'a8876db3',
 'a8a78786',
 'a8cc6fec',
 'a8efe47b',
 'ab3136ba',
 'ab4ec3a4',
 'abc5811c',
 'ac92046e',
 'acf5c23f',
 'ad148f58',
 'ad2fc29c',
 'b012cd7f',
 'b120f2ac',
 'b1d5101d',
 'b2dba42b',
 'b2e5b0f1',
 'b5053438',
 'b74258a0',
 'b7530680',
 'b7dc8128',
 'b80e5e84',
 'b88f38da',
 'bb3e370b',
 'bbfe0445',
 'bc8f2793',
 'bcceccc6',
 'bd612267',
 'bd701df8',
 'bdf49a58',
 'beb0a7b9',
 'bfc77bd6',
 'c0415e5c',
 'c189aaf2',
 'c1cac9a2',
 'c277e121',
 'c2baf0bd',
 'c51d8688',
 'c54cf6c5',
 'c58186bf',
 'c6971acf',
 'c7128948',
 'c74f40cd',
 'c7f7f0e1',
 'c7fe2a55',
 'c952eb01',
 'ca11f653',
 'cb1178ad',
 'cb6010f8',
 'cc5087a3',
 'cdd22e43',
 'cf7638f3',
 'cf82af56',
 'cfbd47c8',
 'd02b7a8e',
 'd06f75b5',
 'd122731b',
 'd185d3ea',
 'd2278a3b',
 'd2659ab4',
 'd2e9262e',
 'd3268efa',
 'd3640339',
 'd38c2fd7',
 'd3f1e122',
 'd45ed6a1',
 'd51b1749',
 'd88ca108',
 'd88e8f25',
 'd9c005dd',
 'daac11b0',
 'db02c830',
 'dcaede90',
 'dcb1663e',
 'dcb55a27',
 'de26c3a6',
 'df4940d3',
 'df4fe8b6',
 'e04fb33d',
 'e080a381',
 'e37a2b78',
 'e3ff61fb',
 'e4d32835',
 'e4f1efe6',
 'e5734469',
 'e57dd7af',
 'e5c9df6f',
 'e64e2cfd',
 'e694a35b',
 'e720d930',
 'e7561dd2',
 'e79f3763',
 'e7e44842',
 'e9c52111',
 'ea296733',
 'ea321fb1',
 'eb2c19cd',
 'ec138c1c',
 'ecaab346',
 'ecc36b7f',
 'ecc6157f',
 'f28c589a',
 'f32856e4',
 'f3cd5473',
 'f50fc6c1',
 'f54238ee',
 'f56e0afc',
 'f5b8c21a',
 'f6947f54',
 'f71c4741',
 'f7e47413',
 'f806dc10',
 'f93fc684',
 'fbaf3456',
 'fcfdffb6',
 'fd20ea40']

In [25]:
comp_train_x.head()

,game_time_mean,game_time_sum,game_time_min,game_time_max,game_time_std,game_time_skew,game_time_median,Activity,Assessment,Clip,...,f56e0afc,f5b8c21a,f6947f54,f71c4741,f7e47413,f806dc10,f93fc684,fbaf3456,fcfdffb6,fd20ea40
0,82491.007366,313548319,0,1520600,159789.192183,7.504204,50155.0,1771.0,261.0,37.0,...,2.0,3.0,2.0,48.0,45.0,9.0,0.0,18.0,45.0,0.0
1,90398.352968,201045937,0,395901,77779.338412,1.366377,69533.0,1206.0,343.0,32.0,...,1.0,0.0,1.0,15.0,14.0,0.0,1.0,14.0,35.0,0.0
2,99141.346988,82287318,0,370945,77906.465874,1.126816,76479.0,786.0,43.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,77631.357004,79805035,0,393790,80681.341963,1.471436,47707.0,76.0,202.0,38.0,...,1.0,0.0,0.0,42.0,42.0,0.0,2.0,8.0,0.0,0.0
4,70398.623824,67371483,0,192166,50706.362921,0.441866,62797.0,291.0,65.0,15.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,15.0,0.0

In [26]:
installation_id_cnt = comp_train_df.groupby('installation_id')['installation_id'].size()
installation_id_cnt[installation_id_cnt > 1]

Series([], Name: installation_id, dtype: int64)

In [27]:
comp_train_df[['installation_id', 'accuracy_group']]

     installation_id  accuracy_group
0           0006a69f               2
1           0006c192               2
2           00129856               3
3           001d0ed0               2
4           00225f67               0
...              ...             ...
3609        ff9305d7               0
3610        ff9715db               2
3611        ffc90c32               3
3612        ffd2871d               3
3613        ffeb0b1b               1

[3614 rows x 2 columns]

## Data Set and Data Loader

In [28]:
from torch.utils.data import DataLoader, Dataset, SequentialSampler, RandomSampler
import torch
from torch import nn

def convert_df_to_tensor(df):
    return torch.tensor(df.values)

class BowlDataSet(Dataset):
    def __init__(self, df_x: pd.DataFrame, df_y: pd.DataFrame):
        self.x = convert_df_to_tensor(df_x).float()
        self.y = convert_df_to_tensor(df_y).long()
        
    def __len__(self):
        return len(self.x)
    
    def __getitem__(self, i):
        return self.x[i], self.y[i]

In [29]:
m_count = comp_train_df.shape[0]
pct = 0.8
x_size = int(m_count * pct)
comp_train_y = comp_train_df['accuracy_group']
train_ds = BowlDataSet(comp_train_x[:x_size], comp_train_y[:x_size])
valid_ds = BowlDataSet(comp_train_x[x_size:], comp_train_y[x_size:])

In [30]:
len(train_ds), len(valid_ds), x_size

(2891, 723, 2891)

In [31]:
assert (len(train_ds) + len(valid_ds) == len(comp_train_df))

In [32]:
bs = 64

In [33]:
train_dl = DataLoader(train_ds, bs, shuffle=True, drop_last=True)
valid_dl = DataLoader(valid_ds, bs, shuffle=False)

In [34]:
batch_sample = next(iter(train_dl))

In [35]:
batch_sample[0].shape, batch_sample[1].shape

(torch.Size([64, 399]), torch.Size([64]))

## Model

In [36]:
m = comp_train_x.shape[1]
m

399

In [37]:
number_hidden = 600
number_hidden_2 = 300

In [38]:
categories = len(comp_train_df['accuracy_group'].unique())
categories

4

In [39]:
model = nn.Sequential(nn.Linear(m, number_hidden), 
                      nn.ReLU(inplace=True), 
                      nn.BatchNorm1d(number_hidden, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True),
                      nn.Linear(number_hidden, number_hidden_2), 
                      nn.ReLU(inplace=True), 
                      nn.BatchNorm1d(number_hidden_2, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True),
                      nn.Linear(number_hidden_2, categories))
model

Sequential(
  (0): Linear(in_features=399, out_features=600, bias=True)
  (1): ReLU(inplace=True)
  (2): BatchNorm1d(600, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (3): Linear(in_features=600, out_features=300, bias=True)
  (4): ReLU(inplace=True)
  (5): BatchNorm1d(300, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (6): Linear(in_features=300, out_features=4, bias=True)
)

## Loss and Optimizers

In [40]:
import torch.nn.functional as F
loss_func = F.cross_entropy
# loss_func = F.mse_loss

In [41]:
lr = 1e-2
lr

0.01

In [42]:
import torch.optim as optim
optimizer = optim.Adam(model.parameters(), lr, [0.9, 0.99])
optimizer

Adam (
Parameter Group 0
    amsgrad: False
    betas: [0.9, 0.99]
    eps: 1e-08
    lr: 0.01
    weight_decay: 0
)

## Accuracy functions

In [43]:
# quadratic weighted kappa
def qwk3(a1, a2, max_rat=3):
    '''
    a1 - ground truth
    a2 - predicted values
    '''
    assert(len(a1) == len(a2))
    a1 = np.asarray(a1, dtype=int)
    a2 = np.asarray(a2, dtype=int)
    hist1 = np.zeros((max_rat + 1, ))
    hist2 = np.zeros((max_rat + 1, ))
    o = 0
    for k in range(a1.shape[0]):
        i, j = a1[k], a2[k]
        hist1[i] += 1
        hist2[j] += 1
        o +=  (i - j) * (i - j)
    e = 0
    for i in range(max_rat + 1):
        for j in range(max_rat + 1):
            e += hist1[i] * hist2[j] * (i - j) * (i - j)
    e = e / a1.shape[0]
    return 1 - o / e

In [44]:
def mse(output, targ): 
    return (output.float() - targ.float()).pow(2).mean()

In [45]:
def accuracy(out, yb): 
    return (torch.argmax(out, dim=1)==yb).float().mean()

In [46]:
mse_text_output = torch.randn(32, 4).float()
targ = torch.randn(32).long()
mse_text_output_argmax = mse_text_output.argmax(-1)
mse(mse_text_output_argmax, targ)

tensor(5.1250)

In [47]:
qwk3(mse_text_output_argmax, targ)

-0.5619047619047619

In [48]:
accuracy(mse_text_output, targ)

tensor(0.3125)

In [49]:
"Normalize the continuous variables."
def normalize(df: pd.DataFrame, cont_names):
    "Compute the means and stds of `self.cont_names` columns to normalize them."
    means, stds = {},{}
    for n in cont_names:
        means[n], stds[n] = df[n].mean(), df[n].std()
        df[n] = (df[n]-means[n]) / (1e-7 + stds[n])

In [50]:
normalize(comp_train_df, ['game_time_mean', 'game_time_sum', 'game_time_min', 'game_time_max', 'game_time_std', 'game_time_skew', 'Activity', 'Assessment'])

In [51]:
comp_train_df

,installation_id,accuracy_group,game_time_mean,game_time_sum,game_time_min,game_time_max,game_time_std,game_time_skew,game_time_median,Activity,...,f56e0afc,f5b8c21a,f6947f54,f71c4741,f7e47413,f806dc10,f93fc684,fbaf3456,fcfdffb6,fd20ea40
0,0006a69f,2,-0.154965,-0.049452,0.0,-0.009008,-0.056330,1.495441,50155.0,0.833560,...,2.0,3.0,2.0,48.0,45.0,9.0,0.0,18.0,45.0,0.0
1,0006c192,2,-0.126062,-0.172084,0.0,-0.132177,-0.130038,-0.210843,69533.0,0.346549,...,1.0,0.0,1.0,15.0,14.0,0.0,1.0,14.0,35.0,0.0
2,00129856,3,-0.094105,-0.301535,0.0,-0.134910,-0.129924,-0.277440,76479.0,-0.015477,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,001d0ed0,2,-0.172728,-0.304240,0.0,-0.132408,-0.127430,-0.181637,47707.0,-0.627473,...,1.0,0.0,0.0,42.0,42.0,0.0,2.0,8.0,0.0,0.0
4,00225f67,0,-0.199164,-0.317793,0.0,-0.154488,-0.154370,-0.467852,62797.0,-0.442151,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,15.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3609,ff9305d7,0,-0.068832,0.064945,0.0,-0.126758,-0.114903,-0.280545,71400.0,1.449866,...,2.0,0.0,2.0,0.0,0.0,4.0,2.0,13.0,0.0,0.0
3610,ff9715db,2,-0.224503,-0.248650,0.0,-0.001469,-0.114956,2.797237,48908.0,0.090545,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,9.0,31.0,1.0
3611,ffc90c32,3,-0.167429,-0.218484,0.0,-0.084949,-0.101579,0.529190,51465.0,-0.280101,...,1.0,3.0,2.0,50.0,50.0,3.0,2.0,10.0,10.0,1.0
3612,ffd2871d,3,0.176794,0.071464,0.0,-0.043642,-0.025706,0.153552,113377.5,0.498255,...,0.0,0.0,0.0,9.0,8.0,6.0,2.0,0.0,0.0,0.0
3613,ffeb0b1b,1,0.326584,-0.019225,0.0,-0.087910,-0.007232,-0.256485,137577.0,-0.364574,...,0.0,0.0,0.0,0.0,0.0,0.0,8.0,15.0,0.0,0.0

## Training Loop

In [52]:
def fit(epochs: int, model: nn.Sequential, loss_func, opt, train_dl, valid_dl):
    for epoch in range(epochs):
        model.train()
        tot_train_loss = 0.
        for xb, yb in train_dl:
            loss = loss_func(model(xb), yb)
            tot_train_loss += loss
            loss.backward()
            opt.step()
            opt.zero_grad()
            
        model.eval()
        with torch.no_grad():
            tot_loss, tot_mse, tot_acc, tot_acc_qwk = 0., 0., 0., 0.
            for xb, yb in valid_dl:
                pred = model(xb)
                tot_loss += loss_func(pred, yb)
                tot_acc += accuracy(pred, yb)
                tot_acc_qwk += qwk3(pred.argmax(-1), yb)
            nv = len(valid_dl)
            print(f'{epoch} trainloss: {tot_train_loss / len(train_dl)} valid loss: {tot_loss / nv} qwk: {tot_acc_qwk / nv} acc: {tot_acc / nv}')

In [53]:
fit(1000, model, loss_func, optimizer, train_dl, valid_dl)

0 trainloss: 1.4740320444107056 valid loss: 1.3305002450942993 qwk: 0.11503737585120394 acc: 0.4639528691768646
1 trainloss: 1.3526002168655396 valid loss: 1.4450840950012207 qwk: 0.09289715449179743 acc: 0.4035772979259491
2 trainloss: 1.3140416145324707 valid loss: 1.2870593070983887 qwk: 0.040422898026264566 acc: 0.39007675647735596
3 trainloss: 1.3198291063308716 valid loss: 1.2654484510421753 qwk: 0.0709436283069153 acc: 0.39137884974479675
4 trainloss: 1.3441630601882935 valid loss: 1.325442910194397 qwk: 0.043545107725781323 acc: 0.3931606113910675
5 trainloss: 1.295938491821289 valid loss: 1.2847813367843628 qwk: 0.1265752111503974 acc: 0.4756716191768646
6 trainloss: 1.3103506565093994 valid loss: 1.2870935201644897 qwk: 0.07037006194418453 acc: 0.3762335479259491
7 trainloss: 1.3130918741226196 valid loss: 1.2964341640472412 qwk: 0.13746102265040946 acc: 0.3975466191768646
8 trainloss: 1.2964675426483154 valid loss: 1.287956714630127 qwk: 0.060924003938765264 acc: 0.3840460479259491
9 trainloss: 1.2635606527328491 valid loss: 1.3174558877944946 qwk: -0.010656248466448462 acc: 0.38617050647735596
10 trainloss: 1.2688730955123901 valid loss: 1.3938260078430176 qwk: 0.06980486545571433 acc: 0.3749314546585083
11 trainloss: 1.2604585886001587 valid loss: 1.306942343711853 qwk: -0.013129251474142603 acc: 0.38617050647735596
12 trainloss: 1.2628811597824097 valid loss: 1.2623885869979858 qwk: 0.0717603652043165 acc: 0.3671189546585083
13 trainloss: 1.2481306791305542 valid loss: 1.2499315738677979 qwk: 0.04652824945987443 acc: 0.39089909195899963
14 trainloss: 1.2513279914855957 valid loss: 2.6503021717071533 qwk: 0.0037392990808512716 acc: 0.39007675647735596
15 trainloss: 1.2506439685821533 valid loss: 1.2667144536972046 qwk: 0.027295225380724025 acc: 0.38747259974479675
16 trainloss: 1.2406466007232666 valid loss: 1.2432180643081665 qwk: 0.11360145870626603 acc: 0.47046327590942383
17 trainloss: 1.23952317237854 valid loss: 1.2753363847732544 qwk: 0.003650254334567236 acc: 0.39007675647735596
18 trainloss: 1.2414146661758423 valid loss: 1.2522828578948975 qwk: 0.0135360526769423 acc: 0.39268091320991516
19 trainloss: 1.2423992156982422 valid loss: 1.2999696731567383 qwk: 0.0024026203773758006 acc: 0.38877466320991516
20 trainloss: 1.2424731254577637 valid loss: 1.247378945350647 qwk: 0.12285125950995679 acc: 0.44962993264198303
21 trainloss: 1.2403873205184937 valid loss: 1.2479653358459473 qwk: 0.09834800621950734 acc: 0.46134868264198303
22 trainloss: 1.2456961870193481 valid loss: 1.273708462715149 qwk: 0.013879279506134351 acc: 0.39007675647735596
23 trainloss: 1.2436375617980957 valid loss: 3.481245994567871 qwk: 0.010397609132248695 acc: 0.38617050647735596
24 trainloss: 1.2410515546798706 valid loss: 1.2730480432510376 qwk: 0.015126913463325786 acc: 0.39137884974479675
25 trainloss: 1.2399753332138062 valid loss: 1.242380976676941 qwk: 0.019751782184101573 acc: 0.39268091320991516
26 trainloss: 1.2432219982147217 valid loss: 1.2385972738265991 qwk: 0.11845958943926078 acc: 0.4756716191768646
27 trainloss: 1.2477079629898071 valid loss: 1.6619601249694824 qwk: 0.006586747997619889 acc: 0.38877466320991516
28 trainloss: 1.2482036352157593 valid loss: 6.2091064453125 qwk: 0.019498932043897244 acc: 0.38617050647735596
29 trainloss: 1.2409155368804932 valid loss: 2.970266580581665 qwk: 0.1057071994182159 acc: 0.4717653691768646
30 trainloss: 1.24350106716156 valid loss: 1.261427402496338 qwk: 0.015818566251965472 acc: 0.38617050647735596
31 trainloss: 1.2428535223007202 valid loss: 2.4052112102508545 qwk: -0.00716363601855996 acc: 0.38747259974479675
32 trainloss: 1.241774082183838 valid loss: 2.0885868072509766 qwk: -0.016260209220928468 acc: 0.39610743522644043
33 trainloss: 1.2427947521209717 valid loss: 1.52959406375885 qwk: 0.010710733677063341 acc: 0.38617050647735596
34 trainloss: 1.2396447658538818 valid loss: 1.4313591718673706 qwk: 0.10835530132943694 acc: 0.47306743264198303
35 trainloss: 1.2437113523483276 valid loss: 1.4518989324569702 qwk: -0.0008463042555651908 acc: 0.38617050647735596
36 trainloss: 1.244523286819458 valid loss: 10.74335765838623 qwk: 0.055949279728068006 acc: 0.4309210479259491
37 trainloss: 1.240937352180481 valid loss: 1.398875117301941 qwk: 0.016294694237336278 acc: 0.38617050647735596
38 trainloss: 1.2395617961883545 valid loss: 1.25554621219635 qwk: 0.10163777130486278 acc: 0.4478481113910675
39 trainloss: 1.2428746223449707 valid loss: 1.555669903755188 qwk: 0.01671366362144881 acc: 0.38617050647735596
40 trainloss: 1.2480969429016113 valid loss: 1.875128149986267 qwk: 0.028624076260542048 acc: 0.3931606113910675
41 trainloss: 1.2456214427947998 valid loss: 1.2642468214035034 qwk: 0.015126913463325786 acc: 0.39137884974479675
42 trainloss: 1.238612413406372 valid loss: 1.2563141584396362 qwk: 0.021251090070199746 acc: 0.38877466320991516
43 trainloss: 1.2427208423614502 valid loss: 1.3652912378311157 qwk: 0.00979821708404575 acc: 0.39137884974479675
44 trainloss: 1.245269775390625 valid loss: 1.272525668144226 qwk: 0.020228513125209107 acc: 0.38877466320991516
45 trainloss: 1.2418639659881592 valid loss: 1.307471513748169 qwk: 0.020882931993239585 acc: 0.39007675647735596
46 trainloss: 1.236392855644226 valid loss: 1.3566981554031372 qwk: 0.022181214517323022 acc: 0.39137884974479675
47 trainloss: 1.242224097251892 valid loss: 1.2567777633666992 qwk: 0.0031437249335232267 acc: 0.39137884974479675
48 trainloss: 1.2420272827148438 valid loss: 1.7083773612976074 qwk: -0.0036681732068637083 acc: 0.39007675647735596
49 trainloss: 1.2439054250717163 valid loss: 2.8895857334136963 qwk: 0.054086785148761585 acc: 0.3996710479259491
50 trainloss: 1.246174693107605 valid loss: 1.2613494396209717 qwk: 0.009455153171789493 acc: 0.38747259974479675
51 trainloss: 1.2401986122131348 valid loss: 1.3390311002731323 qwk: 0.020012913101383856 acc: 0.38747259974479675
52 trainloss: 1.2435812950134277 valid loss: 1.2784959077835083 qwk: 0.019707676742591728 acc: 0.38617050647735596
53 trainloss: 1.2437305450439453 valid loss: 2.69850754737854 qwk: -0.007737360047907278 acc: 0.38877466320991516
54 trainloss: 1.2454895973205566 valid loss: 2.5590550899505615 qwk: 0.07041957526349774 acc: 0.4335252046585083
55 trainloss: 1.2431392669677734 valid loss: 1.3379894495010376 qwk: 0.07106958816783347 acc: 0.4283168613910675
56 trainloss: 1.2420579195022583 valid loss: 3.114542007446289 qwk: 0.007819555590334168 acc: 0.38877466320991516
57 trainloss: 1.2448984384536743 valid loss: 1.5912847518920898 qwk: 0.007819555590334168 acc: 0.38877466320991516
58 trainloss: 1.2454867362976074 valid loss: 1.4240282773971558 qwk: 0.09338845727301694 acc: 0.4717653691768646
59 trainloss: 1.2436763048171997 valid loss: 1.2618279457092285 qwk: 0.015126913463325786 acc: 0.39137884974479675
60 trainloss: 1.2408279180526733 valid loss: 53.1854362487793 qwk: 0.021243164761155748 acc: 0.39610743522644043
61 trainloss: 1.2423269748687744 valid loss: 1.2862178087234497 qwk: 0.10027906890094829 acc: 0.4400356113910675
62 trainloss: 1.2398474216461182 valid loss: 3.2046658992767334 qwk: 0.019511916064656364 acc: 0.38617050647735596
63 trainloss: 1.246254324913025 valid loss: 1.2816330194473267 qwk: 0.003650254334567236 acc: 0.39007675647735596
64 trainloss: 1.2531185150146484 valid loss: 1.2439731359481812 qwk: 0.13445532648275574 acc: 0.46833881735801697
65 trainloss: 1.24485182762146 valid loss: 1.2876497507095337 qwk: 0.014578933661326463 acc: 0.39007675647735596
66 trainloss: 1.238368272781372 valid loss: 1.255794882774353 qwk: 0.015126913463325786 acc: 0.39137884974479675
67 trainloss: 1.2430592775344849 valid loss: 1.2825413942337036 qwk: 0.04720911511642872 acc: 0.3944627046585083
68 trainloss: 1.2522258758544922 valid loss: 2.312774419784546 qwk: -0.019970019497865515 acc: 0.38486841320991516
69 trainloss: 1.2418274879455566 valid loss: 1.494406819343567 qwk: 0.0034741402225510476 acc: 0.39268091320991516
70 trainloss: 1.2420393228530884 valid loss: 1.2532501220703125 qwk: 0.02124253021931165 acc: 0.39398300647735596
71 trainloss: 1.2410871982574463 valid loss: 1.289750099182129 qwk: 0.017385765722178047 acc: 0.39268091320991516
72 trainloss: 1.2417494058609009 valid loss: 1.2464280128479004 qwk: 0.11191102451832154 acc: 0.4618283808231354

73 trainloss: 1.2382910251617432 valid loss: 1.2582305669784546 qwk: 0.03307125259483945 acc: 0.39268091320991516
74 trainloss: 1.2384393215179443 valid loss: 1.2453147172927856 qwk: 0.11601349942818402 acc: 0.4478481113910675
75 trainloss: 1.2396517992019653 valid loss: 1.4030729532241821 qwk: 0.016656411503756668 acc: 0.39268091320991516
76 trainloss: 1.2449220418930054 valid loss: 4.3823113441467285 qwk: 0.0037392990808512716 acc: 0.39007675647735596
77 trainloss: 1.2409801483154297 valid loss: 1.3207148313522339 qwk: 0.015126913463325786 acc: 0.39137884974479675
78 trainloss: 1.2390213012695312 valid loss: 1.2908122539520264 qwk: 0.00753936482519349 acc: 0.39007675647735596
79 trainloss: 1.2399303913116455 valid loss: 1.2415977716445923 qwk: 0.033639326435894755 acc: 0.43174341320991516
80 trainloss: 1.2397736310958862 valid loss: 1.2743924856185913 qwk: 0.011462906072678395 acc: 0.39007675647735596
81 trainloss: 1.2444514036178589 valid loss: 1.9852185249328613 qwk: -0.003848249557281025 acc: 0.38877466320991516
82 trainloss: 1.2433236837387085 valid loss: 1.2885173559188843 qwk: 0.015126913463325786 acc: 0.39137884974479675
83 trainloss: 1.2409006357192993 valid loss: 1.260816216468811 qwk: 0.019707676742591728 acc: 0.38617050647735596
84 trainloss: 1.247002363204956 valid loss: 1.2864123582839966 qwk: 0.015126913463325786 acc: 0.39137884974479675
85 trainloss: 1.2418662309646606 valid loss: 1.3651174306869507 qwk: 0.010337714310763182 acc: 0.38877466320991516
86 trainloss: 1.2439204454421997 valid loss: 1.2496978044509888 qwk: 0.015126913463325786 acc: 0.39137884974479675
87 trainloss: 1.2417925596237183 valid loss: 1.2515133619308472 qwk: 0.00753936482519349 acc: 0.39007675647735596
88 trainloss: 1.244907021522522 valid loss: 1.4161019325256348 qwk: 0.003650254334567236 acc: 0.39007675647735596
89 trainloss: 1.2585104703903198 valid loss: 1.3727607727050781 qwk: 0.03962156647829642 acc: 0.3931606113910675
90 trainloss: 1.2614936828613281 valid loss: 1.294354796409607 qwk: 0.015126913463325786 acc: 0.39137884974479675
91 trainloss: 1.2560818195343018 valid loss: 2.067474603652954 qwk: -0.003848249557281025 acc: 0.38877466320991516
92 trainloss: 1.2574416399002075 valid loss: 1.2651877403259277 qwk: 0.01598097521327783 acc: 0.38877466320991516
93 trainloss: 1.2576833963394165 valid loss: 1.273087501525879 qwk: 0.021950744225391856 acc: 0.38877466320991516
94 trainloss: 1.2518701553344727 valid loss: 1.27119779586792 qwk: 0.105859893163051 acc: 0.42913925647735596
95 trainloss: 1.2563724517822266 valid loss: 1.27504301071167 qwk: 0.014578933661326463 acc: 0.39007675647735596
96 trainloss: 1.250754952430725 valid loss: 1.2932549715042114 qwk: 0.029949961435330713 acc: 0.38877466320991516
97 trainloss: 1.2520726919174194 valid loss: 1.2479344606399536 qwk: 0.11506724548222237 acc: 0.46265077590942383
98 trainloss: 1.2547253370285034 valid loss: 1.2728203535079956 qwk: 0.0031022745325679133 acc: 0.38877466320991516
99 trainloss: 1.25217604637146 valid loss: 1.2678108215332031 qwk: 0.08668219169554169 acc: 0.45874452590942383
100 trainloss: 1.248557209968567 valid loss: 1.248667597770691 qwk: 0.11027065188453013 acc: 0.4595668613910675
101 trainloss: 1.2495249509811401 valid loss: 1.2514394521713257 qwk: 0.09895281922792497 acc: 0.4387335479259491
102 trainloss: 1.2520666122436523 valid loss: 1.2549759149551392 qwk: 0.0073849402585901185 acc: 0.38877466320991516
103 trainloss: 1.2512054443359375 valid loss: 1.2901250123977661 qwk: 0.016581501120701485 acc: 0.38747259974479675
104 trainloss: 1.2486006021499634 valid loss: 2.546961545944214 qwk: 0.0291373182051539 acc: 0.38877466320991516
105 trainloss: 1.2489832639694214 valid loss: 9.621399879455566 qwk: 0.0037392990808512716 acc: 0.39007675647735596
106 trainloss: 1.2502334117889404 valid loss: 1.2687488794326782 qwk: 0.008925119159150377 acc: 0.38747259974479675
107 trainloss: 1.249708890914917 valid loss: 1.4715627431869507 qwk: 0.11263622940813041 acc: 0.37966009974479675
108 trainloss: 1.254409670829773 valid loss: 1.9701218605041504 qwk: 0.03188262056967001 acc: 0.3931606113910675
109 trainloss: 1.2566980123519897 valid loss: 1.2812565565109253 qwk: 0.016585349429271323 acc: 0.38747259974479675
110 trainloss: 1.2634975910186768 valid loss: 1.31866455078125 qwk: 0.018286736834744466 acc: 0.38747259974479675
111 trainloss: 1.255306363105774 valid loss: 1.2934932708740234 qwk: 0.015126913463325786 acc: 0.39137884974479675
112 trainloss: 1.2558934688568115 valid loss: 2.2687697410583496 qwk: 0.010326281172226615 acc: 0.39137884974479675
113 trainloss: 1.2531590461730957 valid loss: 1.282928705215454 qwk: 0.005813188558554098 acc: 0.39007675647735596
114 trainloss: 1.2488986253738403 valid loss: 2.0549426078796387 qwk: 0.08261444307093087 acc: 0.45483827590942383
115 trainloss: 1.2518525123596191 valid loss: 1.2590075731277466 qwk: 0.005265208756554775 acc: 0.38877466320991516
116 trainloss: 1.2531076669692993 valid loss: 1.2761141061782837 qwk: 0.046430750823696694 acc: 0.39007675647735596
117 trainloss: 1.256126880645752 valid loss: 1.9895662069320679 qwk: 0.012945361235825589 acc: 0.38617050647735596
118 trainloss: 1.259345293045044 valid loss: 1.40739107131958 qwk: 0.014578933661326463 acc: 0.39007675647735596
119 trainloss: 1.2550326585769653 valid loss: 1.3663005828857422 qwk: 0.06040990701973329 acc: 0.3397752046585083
120 trainloss: 1.2535865306854248 valid loss: 2.353538990020752 qwk: 0.01077818176603934 acc: 0.38617050647735596
121 trainloss: 1.255784511566162 valid loss: 1.9374014139175415 qwk: 0.055893155167189686 acc: 0.4022752046585083
122 trainloss: 1.2577989101409912 valid loss: 1.27418053150177 qwk: 0.015126913463325786 acc: 0.39137884974479675
123 trainloss: 1.2532081604003906 valid loss: 6.600432872772217 qwk: -0.007737360047907278 acc: 0.38877466320991516
124 trainloss: 1.2563743591308594 valid loss: 1.3613375425338745 qwk: 0.018286736834744466 acc: 0.38747259974479675
125 trainloss: 1.2511667013168335 valid loss: 1.2746726274490356 qwk: 0.04730134060507557 acc: 0.3918585479259491
126 trainloss: 1.2569246292114258 valid loss: 1.2566475868225098 qwk: 0.021950744225391856 acc: 0.38877466320991516
127 trainloss: 1.252948522567749 valid loss: 1.2933509349822998 qwk: 0.016294694237336278 acc: 0.38617050647735596
128 trainloss: 1.253566026687622 valid loss: 1.2656240463256836 qwk: 0.00753936482519349 acc: 0.39007675647735596
129 trainloss: 1.2508949041366577 valid loss: 1.285388469696045 qwk: 0.010775805513862155 acc: 0.38747259974479675
130 trainloss: 1.2545971870422363 valid loss: 9.017809867858887 qwk: 0.010798913071762442 acc: 0.38486841320991516
131 trainloss: 1.2511346340179443 valid loss: 1.276259183883667 qwk: 0.00896223871075987 acc: 0.38486841320991516
132 trainloss: 1.2468044757843018 valid loss: 1.4689079523086548 qwk: 0.006265552309053846 acc: 0.38486841320991516
133 trainloss: 1.2540565729141235 valid loss: 1.2577325105667114 qwk: 0.015126913463325786 acc: 0.39137884974479675
134 trainloss: 1.2525008916854858 valid loss: 3.9959557056427 qwk: 0.009886699802990173 acc: 0.38617050647735596
135 trainloss: 1.2521271705627441 valid loss: 1.2736434936523438 qwk: 0.06125394254058716 acc: 0.4048793613910675
136 trainloss: 1.2553585767745972 valid loss: 1.2674123048782349 qwk: 0.014652536137911712 acc: 0.38617050647735596
137 trainloss: 1.251916527748108 valid loss: 1.6135621070861816 qwk: 0.05682763003386405 acc: 0.4322231113910675
138 trainloss: 1.2475121021270752 valid loss: 2.0835328102111816 qwk: 7.529169020388064e-05 acc: 0.38877466320991516
139 trainloss: 1.252107858657837 valid loss: 12.883685111999512 qwk: 0.01080367301963365 acc: 0.38747259974479675
140 trainloss: 1.2524890899658203 valid loss: 1.5009522438049316 qwk: 0.043365494740653314 acc: 0.3892543613910675
141 trainloss: 1.2460219860076904 valid loss: 14.256267547607422 qwk: 0.0074750207000867375 acc: 0.39137884974479675
142 trainloss: 1.253525972366333 valid loss: 4.042403697967529 qwk: 0.09628558272483717 acc: 0.4686814546585083
143 trainloss: 1.2523406744003296 valid loss: 2.9125545024871826 qwk: 0.05073030217704976 acc: 0.4348272979259491
144 trainloss: 1.2524064779281616 valid loss: 6.7150044441223145 qwk: 0.02464023044663194 acc: 0.39528509974479675

145 trainloss: 1.2507128715515137 valid loss: 1.2712699174880981 qwk: 0.017670224230520514 acc: 0.39007675647735596
146 trainloss: 1.2526298761367798 valid loss: 1.246366262435913 qwk: 0.10654666899318273 acc: 0.47827577590942383
147 trainloss: 1.250167727470398 valid loss: 1.2726035118103027 qwk: 0.02391392537905875 acc: 0.39137884974479675
148 trainloss: 1.251062273979187 valid loss: 1.2706483602523804 qwk: 0.0103697416264772 acc: 0.38617050647735596
149 trainloss: 1.2548788785934448 valid loss: 4.080495834350586 qwk: 0.10226229300565226 acc: 0.4660772979259491
150 trainloss: 1.2516100406646729 valid loss: 2.330217123031616 qwk: 0.05396556337790299 acc: 0.3853481113910675
151 trainloss: 1.256532073020935 valid loss: 2.3782386779785156 qwk: 0.005261111768502987 acc: 0.38617050647735596
152 trainloss: 1.2510344982147217 valid loss: 1.9470891952514648 qwk: 0.003042806235061063 acc: 0.38617050647735596
153 trainloss: 1.2535629272460938 valid loss: 7.405074596405029 qwk: 0.005128464251915044 acc: 0.38617050647735596
154 trainloss: 1.250452995300293 valid loss: 7.912012577056885 qwk: 0.015992856022249025 acc: 0.39007675647735596
155 trainloss: 1.252007007598877 valid loss: 6.672081470489502 qwk: 0.02631382155045482 acc: 0.38747259974479675
156 trainloss: 1.2489598989486694 valid loss: 2.677738904953003 qwk: 0.01470603083564731 acc: 0.38747259974479675
157 trainloss: 1.2466237545013428 valid loss: 1.9535726308822632 qwk: 0.010034526695836155 acc: 0.38486841320991516
158 trainloss: 1.2515450716018677 valid loss: 1.3457484245300293 qwk: 0.11689083184498848 acc: 0.4582647979259491
159 trainloss: 1.2575466632843018 valid loss: 1.270550012588501 qwk: 0.1162638580036676 acc: 0.4756716191768646
160 trainloss: 1.2519313097000122 valid loss: 1.6711326837539673 qwk: -0.0010640619884317304 acc: 0.15330317616462708
161 trainloss: 1.2503358125686646 valid loss: 1.263316035270691 qwk: 0.011462906072678395 acc: 0.39007675647735596
162 trainloss: 1.2538299560546875 valid loss: 1.2788299322128296 qwk: 0.01869280072212942 acc: 0.38617050647735596
163 trainloss: 1.2530806064605713 valid loss: 1.2586923837661743 qwk: 0.011462906072678395 acc: 0.39007675647735596
164 trainloss: 1.2524412870407104 valid loss: 1.3213452100753784 qwk: 0.029949961435330713 acc: 0.38877466320991516
165 trainloss: 1.2534295320510864 valid loss: 8.120207786560059 qwk: 0.007819555590334168 acc: 0.38877466320991516
166 trainloss: 1.2579891681671143 valid loss: 1.8289899826049805 qwk: -0.0021330124699190565 acc: 0.15330317616462708
167 trainloss: 1.2530125379562378 valid loss: 1.347227931022644 qwk: 0.00848204249922512 acc: 0.38617050647735596
168 trainloss: 1.2511608600616455 valid loss: 1.2627836465835571 qwk: 0.017468844905362546 acc: 0.38617050647735596
169 trainloss: 1.2539539337158203 valid loss: 1.2714626789093018 qwk: 0.014033749017124592 acc: 0.38747259974479675
170 trainloss: 1.2557121515274048 valid loss: 1.4586195945739746 qwk: 0.014363195587259561 acc: 0.38747259974479675
171 trainloss: 1.2523506879806519 valid loss: 1.3209062814712524 qwk: 0.003650254334567236 acc: 0.39007675647735596
172 trainloss: 1.2550389766693115 valid loss: 1.2477550506591797 qwk: 0.018806593506413016 acc: 0.38877466320991516
173 trainloss: 1.2527333498001099 valid loss: 27.070068359375 qwk: 0.007918092874415786 acc: 0.39007675647735596
174 trainloss: 1.2516331672668457 valid loss: 6.798459529876709 qwk: 0.003923541247484906 acc: 0.38877466320991516
175 trainloss: 1.252664566040039 valid loss: 2.6095130443573 qwk: 0.003923541247484906 acc: 0.38877466320991516
176 trainloss: 1.2541828155517578 valid loss: 4.7699198722839355 qwk: 0.0072787863858031765 acc: 0.38747259974479675
177 trainloss: 1.2527958154678345 valid loss: 10.444222450256348 qwk: 0.0072787863858031765 acc: 0.38747259974479675
178 trainloss: 1.2495194673538208 valid loss: 1.2745498418807983 qwk: 0.014033749017124592 acc: 0.38747259974479675
179 trainloss: 1.2535333633422852 valid loss: 1.2549585103988647 qwk: 0.028658352570840023 acc: 0.3895970284938812
180 trainloss: 1.2496508359909058 valid loss: 2.6511878967285156 qwk: 0.017967738896397346 acc: 0.39220118522644043
181 trainloss: 1.2476470470428467 valid loss: 1.2679306268692017 qwk: 0.011009738152133824 acc: 0.39089909195899963
182 trainloss: 1.2506537437438965 valid loss: 1.4157100915908813 qwk: 0.020873920388059953 acc: 0.3895970284938812
183 trainloss: 1.2446885108947754 valid loss: 3.466675043106079 qwk: -0.00042777988143546014 acc: 0.3895970284938812
184 trainloss: 1.250544786453247 valid loss: 4.876601219177246 qwk: -0.05444644035470899 acc: 0.38048243522644043
185 trainloss: 1.2511801719665527 valid loss: 12.631000518798828 qwk: 0.11598370830208893 acc: 0.47436952590942383
186 trainloss: 1.2463135719299316 valid loss: 1.9893792867660522 qwk: 0.01337577071511345 acc: 0.38699284195899963
187 trainloss: 1.2502268552780151 valid loss: 10.729645729064941 qwk: 0.014162090295588145 acc: 0.39220118522644043
188 trainloss: 1.2493553161621094 valid loss: 1.842302680015564 qwk: 0.02160628035598323 acc: 0.3895970284938812
189 trainloss: 1.250153660774231 valid loss: 3.434852361679077 qwk: 0.050258747658917496 acc: 0.38829493522644043

KeyboardInterrupt: