In [1]:
%load_ext autoreload
%autoreload 2

%matplotlib inline

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path

In [3]:
path=Path('/kaggle/data_science_bowl')
path

PosixPath('/kaggle/data_science_bowl')

### Read Data

In [98]:
def read_data():
    train_df = pd.read_csv(path/'train.csv')
    test_df = pd.read_csv(path/'test.csv')
    train_labels_df = pd.read_csv(path/'train_labels.csv')
    sample_submission_df = pd.read_csv(path/'sample_submission.csv')
    return train_df, test_df, train_labels_df, sample_submission_df

In [99]:
train_df, test_df, train_labels_df, sample_submission_df = read_data()

In [6]:
train_df.head()

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world
0,27253bdc,45bb1e1b6b50c07b,2019-09-06T17:53:46.937Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE
1,27253bdc,17eeb7f223665f53,2019-09-06T17:54:17.519Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Magma Peak - Level 1,Clip,MAGMAPEAK
2,77261ab5,0848ef14a8dc6892,2019-09-06T17:54:56.302Z,"{""version"":""1.0"",""event_count"":1,""game_time"":0...",0001e90f,1,2000,0,Sandcastle Builder (Activity),Activity,MAGMAPEAK
3,b2dba42b,0848ef14a8dc6892,2019-09-06T17:54:56.387Z,"{""description"":""Let's build a sandcastle! Firs...",0001e90f,2,3010,53,Sandcastle Builder (Activity),Activity,MAGMAPEAK
4,1bb5fbdb,0848ef14a8dc6892,2019-09-06T17:55:03.253Z,"{""description"":""Let's build a sandcastle! Firs...",0001e90f,3,3110,6972,Sandcastle Builder (Activity),Activity,MAGMAPEAK

In [7]:
test_df.head()

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world
0,27253bdc,0ea9ecc81a565215,2019-09-10T16:50:24.910Z,"{""event_code"": 2000, ""event_count"": 1}",00abaee7,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE
1,27253bdc,c1ea43d8b8261d27,2019-09-10T16:50:55.503Z,"{""event_code"": 2000, ""event_count"": 1}",00abaee7,1,2000,0,Magma Peak - Level 1,Clip,MAGMAPEAK
2,27253bdc,7ed86c6b72e725e2,2019-09-10T16:51:51.805Z,"{""event_code"": 2000, ""event_count"": 1}",00abaee7,1,2000,0,Magma Peak - Level 2,Clip,MAGMAPEAK
3,27253bdc,7e516ace50e7fe67,2019-09-10T16:53:12.825Z,"{""event_code"": 2000, ""event_count"": 1}",00abaee7,1,2000,0,Crystal Caves - Level 1,Clip,CRYSTALCAVES
4,7d093bf9,a022c3f60ba547e7,2019-09-10T16:54:12.115Z,"{""version"":""1.0"",""round"":0,""event_count"":1,""ga...",00abaee7,1,2000,0,Chow Time,Game,CRYSTALCAVES

In [96]:
train_labels_df.head()

,game_session,installation_id,title,num_correct,num_incorrect,accuracy,accuracy_group
0,6bdf9623adc94d89,0006a69f,Mushroom Sorter (Assessment),1,0,1.0,3
1,77b8ee947eb84b4e,0006a69f,Bird Measurer (Assessment),0,11,0.0,0
2,901acc108f55a5a1,0006a69f,Mushroom Sorter (Assessment),1,0,1.0,3
3,9501794defd84e4d,0006a69f,Mushroom Sorter (Assessment),1,1,0.5,2
4,a9ef3ecb3d1acc6a,0006a69f,Bird Measurer (Assessment),1,0,1.0,3

In [100]:
sample_submission_df.head()

  installation_id  accuracy_group
0        00abaee7               3
1        01242218               3
2        017c5718               3
3        01a44906               3
4        01bc6cb6               3

In [115]:
sample_submission_df.groupby(['installation_id'])[['installation_id']].count()

                 installation_id
installation_id
00abaee7                       1
01242218                       1
017c5718                       1
01a44906                       1
01bc6cb6                       1
...                          ...
fee254cf                       1
ff57e602                       1
ffc73fb2                       1
ffe00ca8                       1
ffe774cc                       1

[1000 rows x 1 columns]

In [9]:
sample_session = '6bdf9623adc94d89'

In [10]:
train_labels_df[train_labels_df['game_session'] == sample_session]

,game_session,installation_id,title,num_correct,num_incorrect,accuracy,accuracy_group
0,6bdf9623adc94d89,0006a69f,Mushroom Sorter (Assessment),1,0,1.0,3

In [11]:
train_df[train_df['game_session'] == sample_session]

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world
2768,3bfd1a65,6bdf9623adc94d89,2019-08-06T05:37:50.020Z,"{""version"":""1.0"",""event_count"":1,""game_time"":0...",0006a69f,1,2000,0,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2769,db02c830,6bdf9623adc94d89,2019-08-06T05:37:50.078Z,"{""event_count"":2,""game_time"":77,""event_code"":2...",0006a69f,2,2025,77,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2770,a1e4395d,6bdf9623adc94d89,2019-08-06T05:37:50.082Z,"{""description"":""Pull three mushrooms out of th...",0006a69f,3,3010,77,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2771,7da34a02,6bdf9623adc94d89,2019-08-06T05:37:52.799Z,"{""coordinates"":{""x"":199,""y"":484,""stage_width"":...",0006a69f,4,4070,2784,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2772,28ed704e,6bdf9623adc94d89,2019-08-06T05:37:53.631Z,"{""height"":1,""coordinates"":{""x"":171,""y"":519,""st...",0006a69f,5,4025,3625,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2773,a52b92d5,6bdf9623adc94d89,2019-08-06T05:37:53.632Z,"{""description"":""Pull three mushrooms out of th...",0006a69f,6,3110,3625,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2774,9d29771f,6bdf9623adc94d89,2019-08-06T05:37:53.635Z,"{""description"":""That's one!"",""identifier"":""Dot...",0006a69f,7,3021,3625,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2775,c74f40cd,6bdf9623adc94d89,2019-08-06T05:37:54.253Z,"{""description"":""That's one!"",""identifier"":""Dot...",0006a69f,8,3121,4250,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2776,28ed704e,6bdf9623adc94d89,2019-08-06T05:37:54.930Z,"{""height"":2,""coordinates"":{""x"":496,""y"":502,""st...",0006a69f,9,4025,4925,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2777,9d29771f,6bdf9623adc94d89,2019-08-06T05:37:54.934Z,"{""description"":""two..."",""identifier"":""Dot_Two""...",0006a69f,10,3021,4925,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2778,c74f40cd,6bdf9623adc94d89,2019-08-06T05:37:55.464Z,"{""description"":""two..."",""identifier"":""Dot_Two""...",0006a69f,11,3121,5459,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2779,28ed704e,6bdf9623adc94d89,2019-08-06T05:37:56.000Z,"{""height"":4,""coordinates"":{""x"":327,""y"":543,""st...",0006a69f,12,4025,6000,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2780,9d29771f,6bdf9623adc94d89,2019-08-06T05:37:56.003Z,"{""description"":""and three!"",""identifier"":""Dot_...",0006a69f,13,3021,6000,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2781,3dfd4aa4,6bdf9623adc94d89,2019-08-06T05:37:56.693Z,"{""event_count"":16,""game_time"":6692,""event_code...",0006a69f,16,2020,6692,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2782,83c6c409,6bdf9623adc94d89,2019-08-06T05:37:56.693Z,"{""duration"":6615,""event_count"":15,""game_time"":...",0006a69f,15,2035,6692,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2783,c74f40cd,6bdf9623adc94d89,2019-08-06T05:37:56.693Z,"{""description"":""and three!"",""identifier"":""Dot_...",0006a69f,14,3121,6692,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2784,a1e4395d,6bdf9623adc94d89,2019-08-06T05:37:56.697Z,"{""description"":""Now order these mushrooms by h...",0006a69f,17,3010,6692,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2785,7da34a02,6bdf9623adc94d89,2019-08-06T05:37:58.885Z,"{""coordinates"":{""x"":323,""y"":534,""stage_width"":...",0006a69f,18,4070,8876,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2786,7da34a02,6bdf9623adc94d89,2019-08-06T05:37:59.759Z,"{""coordinates"":{""x"":333,""y"":551,""stage_width"":...",0006a69f,19,4070,9742,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2787,7da34a02,6bdf9623adc94d89,2019-08-06T05:38:00.706Z,"{""coordinates"":{""x"":328,""y"":534,""stage_width"":...",0006a69f,20,4070,10692,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2788,a52b92d5,6bdf9623adc94d89,2019-08-06T05:38:00.716Z,"{""description"":""Now order these mushrooms by h...",0006a69f,21,3110,10692,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2789,7da34a02,6bdf9623adc94d89,2019-08-06T05:38:01.621Z,"{""coordinates"":{""x"":290,""y"":536,""stage_width"":...",0006a69f,22,4070,11601,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2790,fbaf3456,6bdf9623adc94d89,2019-08-06T05:38:02.273Z,"{""height"":4,""stumps"":[0,0,0],""coordinates"":{""x...",0006a69f,23,4030,12251,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2791,5f0eb72c,6bdf9623adc94d89,2019-08-06T05:38:03.621Z,"{""height"":4,""destination"":""right"",""stumps"":[0,...",0006a69f,24,4020,13618,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2792,fbaf3456,6bdf9623adc94d89,2019-08-06T05:38:04.420Z,"{""height"":2,""stumps"":[0,0,4],""coordinates"":{""x...",0006a69f,25,4030,14401,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2793,5f0eb72c,6bdf9623adc94d89,2019-08-06T05:38:05.265Z,"{""height"":2,""destination"":""middle"",""stumps"":[0...",0006a69f,26,4020,15259,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2794,fbaf3456,6bdf9623adc94d89,2019-08-06T05:38:05.766Z,"{""height"":1,""stumps"":[0,2,4],""coordinates"":{""x...",0006a69f,27,4030,15743,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2795,5f0eb72c,6bdf9623adc94d89,2019-08-06T05:38:06.823Z,"{""height"":1,""destination"":""left"",""stumps"":[1,2...",0006a69f,28,4020,16826,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2796,a1e4395d,6bdf9623adc94d89,2019-08-06T05:38:06.826Z,"{""description"":""Okay, when you want to check y...",0006a69f,29,3010,16826,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2797,25fa8af4,6bdf9623adc94d89,2019-08-06T05:38:08.036Z,"{""correct"":true,""stumps"":[1,2,4],""event_count""...",0006a69f,30,4100,18026,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2798,a52b92d5,6bdf9623adc94d89,2019-08-06T05:38:08.039Z,"{""description"":""Okay, when you want to check y...",0006a69f,31,3110,18026,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2799,9d29771f,6bdf9623adc94d89,2019-08-06T05:38:08.040Z,"{""description"":""Alright! This one is the littl...",0006a69f,32,3021,18026,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2800,c74f40cd,6bdf9623adc94d89,2019-08-06T05:38:12.223Z,"{""description"":""Alright! This one is the littl...",0006a69f,33,3121,22218,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2801,6c930e6e,6bdf9623adc94d89,2019-08-06T05:38:12.836Z,"{""duration"":16126,""misses"":0,""event_count"":34,...",0006a69f,34,2030,22818,Mushroom Sorter (Assessment),Assessment,TREETOPCITY
2802,a5be6304,6bdf9623adc94d89,2019-08-06T05:38:16.835Z,"{""session_duration"":26827,""exit_type"":""game_co...",0006a69f,35,2010,26827,Mushroom Sorter (Assessment),Assessment,TREETOPCITY

### Feature Engineering

In [224]:
import functools

class FeatureEngineering():
    
    def __init__(self, train_df, test_df, train_labels_df):
        self.train_df, self.test_df, self.train_labels_df = self.extract_time_features(train_df), self.extract_time_features(test_df), train_labels_df
        self.numerical_columns = ['game_time']
        self.categorical_columns = ['type', 'world']
        self.comp_train_df = self.create_unique_installation_id_df(train_df)
        self.comp_test_df = self.create_unique_installation_id_df(test_df)
        self.agg_operations = ['mean', 'sum', 'min', 'max', 'std', 'skew']
        merge_args = {'left_index':True, 'right_index':True}
        for col in self.numerical_columns:
            self.comp_train_df = self.comp_train_df.merge(self.get_aggregates(self.train_df, col), **merge_args)
            self.comp_test_df = self.comp_test_df.merge(self.get_aggregates(self.test_df, col), **merge_args)
            
        for col in self.categorical_columns:
            self.comp_train_df = self.comp_train_df.merge(self.get_object_columns(self.train_df, col), **merge_args)
            self.comp_test_df = self.comp_test_df.merge(self.get_object_columns(self.test_df, col), **merge_args)
            
        for col in self.categorical_columns:
            self.comp_train_df = self.comp_train_df.merge(
                self.get_numeric_columns_add(self.train_df, col, 'game_time'), **merge_args)
            self.comp_test_df = self.comp_test_df.merge(
                self.get_numeric_columns_add(self.test_df, col, 'game_time'), **merge_args)
            
        self.comp_train_df.reset_index()
        self.comp_test_df.reset_index()
        
        # mode of the title
        labels_map = dict(train_labels_df.groupby('title')['accuracy_group'].agg(lambda x:x.value_counts().index[0]))
        labels = train_labels_df[['installation_id', 'title', 'accuracy_group']]
        labels['title'] = labels['title'].map(labels_map)
        # get title from the test set
        self.comp_test_df['title'] = test_df.groupby('installation_id').last()['title'].map(labels_map).reset_index(drop = True).values
        self.comp_train_df = labels.merge(self.comp_train_df, on = 'installation_id', how = 'left')
        
        
    def create_unique_installation_id_df(self, df):
        comp_df = pd.DataFrame({'installation_id': df['installation_id'].unique()})
        comp_df.set_index('installation_id', inplace = True)
        return comp_df
    
    def extract_time_features(self, df):
        df['timestamp'] = pd.to_datetime(df['timestamp'])
        df['date'] = df['timestamp'].dt.date
        df['month'] = df['timestamp'].dt.month
        df['hour'] = df['timestamp'].dt.hour
        df['year'] = df['timestamp'].dt.year
        df['dayofweek'] = df['timestamp'].dt.dayofweek
        df['weekofyear'] = df['timestamp'].dt.weekofyear
        df['dayofyear'] = df['timestamp'].dt.dayofyear
        df['quarter'] = df['timestamp'].dt.quarter
        df['is_month_start'] = df['timestamp'].dt.is_month_start    
        return df
    
    def get_aggregates(self, df: pd.DataFrame, column):
        df_agg = df.groupby('installation_id').agg({column: self.agg_operations})
        df_agg[column].fillna(df_agg[column].mean(), inplace=True)
        df_agg.columns = [f'{column}_{c}' for c in self.agg_operations]
        return df_agg
    
    def get_object_columns(self, df, col):
        df = df.groupby(['installation_id', col])['event_id'].count().reset_index()
        df = df.pivot_table(index = 'installation_id', columns = [col], values = 'event_id')
        df.columns = list(df.columns)
        df.fillna(0, inplace = True)
        return df
    
    def get_numeric_columns_add(self, df, agg_column, column):
        df = df.groupby(['installation_id', agg_column]).agg({f'{column}': self.agg_operations}).reset_index()
        df = df.pivot_table(index = 'installation_id', columns = [agg_column], values = [col for col in df.columns if col not in ['installation_id', agg_column]])
        df[column].fillna(df[column].mean(), inplace = True)
        df.columns = list(df.columns)
        return df
        
    @property
    def comp_train_head(self):
        return self.comp_train_df[:10]
    
    @property
    def comp_test_head(self):
        return self.comp_test_df[:10]

    @property
    def comp_train_shape(self):
        return self.comp_train_df.shape
    
    @property
    def comp_test_shape(self):
        return self.comp_test_df.shape
    
    @property
    def comp_train_x(self):
        return self.comp_train_df[[i for i in self.comp_train_df.columns if i not in ['accuracy_group', 'installation_id']]]
    
    @property
    def comp_train_y(self):
        return self.comp_train_df['accuracy_group']
    
    @property
    def comp_train_ds(self):
        m = comp_train_y.size
        x_size = int(m * 0.8)
        return comp_train_x[:x_size], comp_train_y[:x_size], comp_train_x[x_size:], comp_train_y[x_size:]

In [237]:
from torch.utils.data import DataLoader, Dataset, SequentialSampler, RandomSampler
import torch

def convert_df_to_tensor(df):
    return torch.tensor(df.values)

class BowlDataSet(Dataset):
    def __init__(self, df_x: pd.DataFrame, df_y: pd.DataFrame):
        self.x = convert_df_to_tensor(df_x)
        self.y = convert_df_to_tensor(df_y)
        
    def __len__(self):
        return len(self.x)
    
    def __getitem__(self, i):
        return self.x[i], self.y[i]

In [229]:
feature_engineering = FeatureEngineering(train_df, test_df, train_labels_df)

/opt/anaconda3/envs/deeplearning/lib/python3.7/site-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [238]:
comp_train_ds = feature_engineering.comp_train_ds
train_ds = BowlDataSet(comp_train_ds[0], comp_train_ds[1])
valid_ds = BowlDataSet(comp_train_ds[2], comp_train_ds[3])

In [244]:
len(train_ds), len(valid_ds), train_ds[0][1]

(14152, 3538, tensor(3))

In [204]:
comp_train_x = feature_engineering.comp_train_x

In [208]:
comp_train_x.head()

,title,game_time_mean,game_time_sum,game_time_min,game_time_max,game_time_std,game_time_skew,Activity,Assessment,Clip,...,"(game_time, skew, NONE)","(game_time, skew, TREETOPCITY)","(game_time, std, CRYSTALCAVES)","(game_time, std, MAGMAPEAK)","(game_time, std, NONE)","(game_time, std, TREETOPCITY)","(game_time, sum, CRYSTALCAVES)","(game_time, sum, MAGMAPEAK)","(game_time, sum, NONE)","(game_time, sum, TREETOPCITY)"
0,3,82491.007366,313548319,0,1520600,159789.192183,7.504204,1771.0,261.0,37.0,...,0.0,5.704184,115847.423107,57216.164087,0.0,217683.232366,6.031041e+07,121568696.0,0.0,191979623.0
1,0,82491.007366,313548319,0,1520600,159789.192183,7.504204,1771.0,261.0,37.0,...,0.0,5.704184,115847.423107,57216.164087,0.0,217683.232366,6.031041e+07,121568696.0,0.0,191979623.0
2,3,82491.007366,313548319,0,1520600,159789.192183,7.504204,1771.0,261.0,37.0,...,0.0,5.704184,115847.423107,57216.164087,0.0,217683.232366,6.031041e+07,121568696.0,0.0,191979623.0
3,3,82491.007366,313548319,0,1520600,159789.192183,7.504204,1771.0,261.0,37.0,...,0.0,5.704184,115847.423107,57216.164087,0.0,217683.232366,6.031041e+07,121568696.0,0.0,191979623.0
4,0,82491.007366,313548319,0,1520600,159789.192183,7.504204,1771.0,261.0,37.0,...,0.0,5.704184,115847.423107,57216.164087,0.0,217683.232366,6.031041e+07,121568696.0,0.0,191979623.0

In [209]:
comp_train_y = feature_engineering.comp_train_y

In [221]:
comp_train_y[:10].values

array([3, 0, 3, 2, 3, 3, 2, 0, 3, 0])

In [193]:
feature_engineering.comp_train_df.columns

Index([                    'installation_id',
                                     'title',
                            'accuracy_group',
                            'game_time_mean',
                             'game_time_sum',
                             'game_time_min',
                             'game_time_max',
                             'game_time_std',
                            'game_time_skew',
                                  'Activity',
                                'Assessment',
                                      'Clip',
                                      'Game',
                              'CRYSTALCAVES',
                                 'MAGMAPEAK',
                                      'NONE',
                               'TREETOPCITY',
            ('game_time', 'max', 'Activity'),
          ('game_time', 'max', 'Assessment'),
                ('game_time', 'max', 'Clip'),
                ('game_time', 'max', 'Game'),
           ('game_time', 'mean', 'Activity'),
         ('game_time', 'mean', 'Assessment'),
               ('game_time', 'mean', 'Clip'),
               ('game_time', 'mean', 'Game'),
            ('game_time', 'min', 'Activity'),
          ('game_time', 'min', 'Assessment'),
                ('game_time', 'min', 'Clip'),
                ('game_time', 'min', 'Game'),
           ('game_time', 'skew', 'Activity'),
         ('game_time', 'skew', 'Assessment'),
               ('game_time', 'skew', 'Clip'),
               ('game_time', 'skew', 'Game'),
            ('game_time', 'std', 'Activity'),
          ('game_time', 'std', 'Assessment'),
                ('game_time', 'std', 'Clip'),
                ('game_time', 'std', 'Game'),
            ('game_time', 'sum', 'Activity'),
          ('game_time', 'sum', 'Assessment'),
                ('game_time', 'sum', 'Clip'),
                ('game_time', 'sum', 'Game'),
        ('game_time', 'max', 'CRYSTALCAVES'),
           ('game_time', 'max', 'MAGMAPEAK'),
                ('game_time', 'max', 'NONE'),
         ('game_time', 'max', 'TREETOPCITY'),
       ('game_time', 'mean', 'CRYSTALCAVES'),
          ('game_time', 'mean', 'MAGMAPEAK'),
               ('game_time', 'mean', 'NONE'),
        ('game_time', 'mean', 'TREETOPCITY'),
        ('game_time', 'min', 'CRYSTALCAVES'),
           ('game_time', 'min', 'MAGMAPEAK'),
                ('game_time', 'min', 'NONE'),
         ('game_time', 'min', 'TREETOPCITY'),
       ('game_time', 'skew', 'CRYSTALCAVES'),
          ('game_time', 'skew', 'MAGMAPEAK'),
               ('game_time', 'skew', 'NONE'),
        ('game_time', 'skew', 'TREETOPCITY'),
        ('game_time', 'std', 'CRYSTALCAVES'),
           ('game_time', 'std', 'MAGMAPEAK'),
                ('game_time', 'std', 'NONE'),
         ('game_time', 'std', 'TREETOPCITY'),
        ('game_time', 'sum', 'CRYSTALCAVES'),
           ('game_time', 'sum', 'MAGMAPEAK'),
                ('game_time', 'sum', 'NONE'),
         ('game_time', 'sum', 'TREETOPCITY')],
      dtype='object')

In [194]:
feature_engineering.comp_test_df.columns

Index([                     'game_time_mean',
                             'game_time_sum',
                             'game_time_min',
                             'game_time_max',
                             'game_time_std',
                            'game_time_skew',
                                  'Activity',
                                'Assessment',
                                      'Clip',
                                      'Game',
                              'CRYSTALCAVES',
                                 'MAGMAPEAK',
                                      'NONE',
                               'TREETOPCITY',
            ('game_time', 'max', 'Activity'),
          ('game_time', 'max', 'Assessment'),
                ('game_time', 'max', 'Clip'),
                ('game_time', 'max', 'Game'),
           ('game_time', 'mean', 'Activity'),
         ('game_time', 'mean', 'Assessment'),
               ('game_time', 'mean', 'Clip'),
               ('game_time', 'mean', 'Game'),
            ('game_time', 'min', 'Activity'),
          ('game_time', 'min', 'Assessment'),
                ('game_time', 'min', 'Clip'),
                ('game_time', 'min', 'Game'),
           ('game_time', 'skew', 'Activity'),
         ('game_time', 'skew', 'Assessment'),
               ('game_time', 'skew', 'Clip'),
               ('game_time', 'skew', 'Game'),
            ('game_time', 'std', 'Activity'),
          ('game_time', 'std', 'Assessment'),
                ('game_time', 'std', 'Clip'),
                ('game_time', 'std', 'Game'),
            ('game_time', 'sum', 'Activity'),
          ('game_time', 'sum', 'Assessment'),
                ('game_time', 'sum', 'Clip'),
                ('game_time', 'sum', 'Game'),
        ('game_time', 'max', 'CRYSTALCAVES'),
           ('game_time', 'max', 'MAGMAPEAK'),
                ('game_time', 'max', 'NONE'),
         ('game_time', 'max', 'TREETOPCITY'),
       ('game_time', 'mean', 'CRYSTALCAVES'),
          ('game_time', 'mean', 'MAGMAPEAK'),
               ('game_time', 'mean', 'NONE'),
        ('game_time', 'mean', 'TREETOPCITY'),
        ('game_time', 'min', 'CRYSTALCAVES'),
           ('game_time', 'min', 'MAGMAPEAK'),
                ('game_time', 'min', 'NONE'),
         ('game_time', 'min', 'TREETOPCITY'),
       ('game_time', 'skew', 'CRYSTALCAVES'),
          ('game_time', 'skew', 'MAGMAPEAK'),
               ('game_time', 'skew', 'NONE'),
        ('game_time', 'skew', 'TREETOPCITY'),
        ('game_time', 'std', 'CRYSTALCAVES'),
           ('game_time', 'std', 'MAGMAPEAK'),
                ('game_time', 'std', 'NONE'),
         ('game_time', 'std', 'TREETOPCITY'),
        ('game_time', 'sum', 'CRYSTALCAVES'),
           ('game_time', 'sum', 'MAGMAPEAK'),
                ('game_time', 'sum', 'NONE'),
         ('game_time', 'sum', 'TREETOPCITY'),
                                     'title'],
      dtype='object')

In [195]:
feature_engineering.comp_train_df.groupby(['installation_id', 'title'])[['installation_id']].count()

                       installation_id
installation_id title
0006a69f        0                    2
                3                    3
0006c192        0                    1
                3                    2
00129856        0                    1
...                                ...
ff9715db        3                    7
ffc90c32        0                    2
                3                    4
ffd2871d        3                    1
ffeb0b1b        3                    3

[5665 rows x 1 columns]

In [17]:
df1 = feature_engineering.train_df.groupby(['installation_id', 'type'])['event_id'].count().reset_index()

In [143]:
feature_engineering.comp_train_df.head()

,installation_id,title,accuracy_group,game_time_mean,game_time_sum,game_time_min,game_time_max,game_time_std,game_time_skew,Activity,...,"(game_time, skew, NONE)","(game_time, skew, TREETOPCITY)","(game_time, std, CRYSTALCAVES)","(game_time, std, MAGMAPEAK)","(game_time, std, NONE)","(game_time, std, TREETOPCITY)","(game_time, sum, CRYSTALCAVES)","(game_time, sum, MAGMAPEAK)","(game_time, sum, NONE)","(game_time, sum, TREETOPCITY)"
0,0006a69f,3,3,82491.007366,313548319,0,1520600,159789.192183,7.504204,1771.0,...,0.0,5.704184,115847.423107,57216.164087,0.0,217683.232366,6.031041e+07,121568696.0,0.0,191979623.0
1,0006a69f,0,0,82491.007366,313548319,0,1520600,159789.192183,7.504204,1771.0,...,0.0,5.704184,115847.423107,57216.164087,0.0,217683.232366,6.031041e+07,121568696.0,0.0,191979623.0
2,0006a69f,3,3,82491.007366,313548319,0,1520600,159789.192183,7.504204,1771.0,...,0.0,5.704184,115847.423107,57216.164087,0.0,217683.232366,6.031041e+07,121568696.0,0.0,191979623.0
3,0006a69f,3,2,82491.007366,313548319,0,1520600,159789.192183,7.504204,1771.0,...,0.0,5.704184,115847.423107,57216.164087,0.0,217683.232366,6.031041e+07,121568696.0,0.0,191979623.0
4,0006a69f,0,3,82491.007366,313548319,0,1520600,159789.192183,7.504204,1771.0,...,0.0,5.704184,115847.423107,57216.164087,0.0,217683.232366,6.031041e+07,121568696.0,0.0,191979623.0

In [196]:
feature_engineering.comp_test_df.head()

,game_time_mean,game_time_sum,game_time_min,game_time_max,game_time_std,game_time_skew,Activity,Assessment,Clip,Game,...,"(game_time, skew, TREETOPCITY)","(game_time, std, CRYSTALCAVES)","(game_time, std, MAGMAPEAK)","(game_time, std, NONE)","(game_time, std, TREETOPCITY)","(game_time, sum, CRYSTALCAVES)","(game_time, sum, MAGMAPEAK)","(game_time, sum, NONE)","(game_time, sum, TREETOPCITY)",title
installation_id,,,,,,,,,,,,,,,,,,,,,
00abaee7,63567.408986,55176511,0,1960630,149911.784066,11.578484,454.0,27.0,14.0,373.0,...,8.243170,37649.869386,53238.970991,0.0,222474.449033,1.381808e+07,1.675591e+07,0.0,24602523.0,3
01242218,75770.044869,206018752,0,317027,61789.322138,1.421303,1356.0,245.0,29.0,1089.0,...,0.680239,67990.867851,68507.373099,0.0,45265.064084,7.183540e+07,7.283158e+07,0.0,61351776.0,3
017c5718,33017.233333,4952585,0,60943,17140.293312,-0.421696,143.0,1.0,6.0,0.0,...,-0.430958,75616.844935,143236.743283,0.0,16462.002358,5.277859e+07,1.391002e+08,0.0,4952585.0,3
01a44906,41162.901709,9632119,0,85983,28696.300044,0.231737,145.0,1.0,10.0,78.0,...,0.222744,75616.844935,143236.743283,0.0,28492.647474,5.277859e+07,1.391002e+08,0.0,9632119.0,3
01bc6cb6,147664.880252,140576966,0,511237,128478.809653,1.250042,226.0,1.0,17.0,708.0,...,0.298199,52164.580560,0.000000,0.0,155679.905961,4.737604e+07,0.000000e+00,0.0,93200925.0,3

In [69]:
df1.pivot_table(index = 'installation_id', columns = ['type'], values = 'event_id')

type             Activity  Assessment  Clip    Game
installation_id
0001e90f            469.0         NaN   5.0   883.0
000447c4             54.0         NaN   3.0   124.0
0006a69f           1771.0       261.0  37.0  1732.0
0006c192           1206.0       343.0  32.0   643.0
0009a5a9            223.0         NaN   4.0   185.0
...                   ...         ...   ...     ...
fff64664            198.0         NaN  25.0   556.0
fff70c1e              NaN         NaN   4.0    40.0
fff744ce              NaN         NaN   3.0     NaN
fff944d5            168.0         NaN   5.0     NaN
fffc0583             39.0         NaN  13.0   199.0

[17000 rows x 4 columns]

In [24]:
df_installation_id_type = train_df.groupby(['installation_id', 'type']).agg({'game_time': ['mean', 'sum', 'min', 'max', 'std', 'skew']}).reset_index()
df_pivoted = df_installation_id_type.pivot_table(index = 'installation_id', columns = ['type'], values = [col for col in df_installation_id_type.columns if col not in ['installation_id', 'type']])

/opt/anaconda3/envs/deeplearning/lib/python3.7/site-packages/pandas/core/generic.py:3946: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  new_axis = axis.drop(labels, errors=errors)

In [27]:
df_installation_id_type

      installation_id      type      game_time                         \
                                          mean        sum min     max
0            0001e90f  Activity   63367.074627   29719158   0  194335
1            0001e90f      Clip       0.000000          0   0       0
2            0001e90f      Game  276451.739524  244106886   0  570396
3            000447c4  Activity   57105.851852    3083716   0  102360
4            000447c4      Clip       0.000000          0   0       0
...               ...       ...            ...        ...  ..     ...
40323        fff944d5  Activity   35421.434524    5950801   0   84885
40324        fff944d5      Clip       0.000000          0   0       0
40325        fffc0583  Activity   19028.076923     742095   0   40473
40326        fffc0583      Clip       0.000000          0   0       0
40327        fffc0583      Game   41104.658291    8179827   0  124887


                 std      skew
0       46414.227733  1.098149
1           0.000000  0.000000
2      156196.423396  0.136662
3       30331.063784 -0.250710
4           0.000000  0.000000
...              ...       ...
40323   20988.152604  0.361745
40324       0.000000  0.000000
40325   11874.329119  0.090608
40326       0.000000  0.000000
40327   30076.622080  1.239384

[40328 rows x 8 columns]

In [25]:
df_pivoted

                 game_time                                            \
                       max                                      mean
type              Activity Assessment Clip       Game       Activity
installation_id
0001e90f          194335.0        NaN  0.0   570396.0   63367.074627
000447c4          102360.0        NaN  0.0   175347.0   57105.851852
0006a69f         1520600.0    92799.0  0.0   232249.0  104714.852626
0006c192          395901.0   216374.0  0.0   162878.0  104420.986733
0009a5a9           96535.0        NaN  0.0  1684228.0   44637.201794
...                    ...        ...  ...        ...            ...
fff64664           77662.0        NaN  0.0  1548496.0   30007.090909
fff70c1e               NaN        NaN  0.0   152279.0            NaN
fff744ce               NaN        NaN  0.0        NaN            NaN
fff944d5           84885.0        NaN  0.0        NaN   35421.434524
fffc0583           40473.0        NaN  0.0   124887.0   19028.076923

                                                                       ...  \
                                                       min             ...
type               Assessment Clip           Game Activity Assessment  ...
installation_id                                                        ...
0001e90f                  NaN  0.0  276451.739524      0.0        NaN  ...
000447c4                  NaN  0.0   93382.346774      0.0        NaN  ...
0006a69f         24886.245211  0.0   70209.587182      0.0        0.0  ...
0006c192         78984.860058  0.0   74684.945568      0.0        0.0  ...
0009a5a9                  NaN  0.0  833872.670270      0.0        NaN  ...
...                       ...  ...            ...      ...        ...  ...
fff64664                  NaN  0.0  712558.733813      0.0        NaN  ...
fff70c1e                  NaN  0.0   90712.400000      NaN        NaN  ...
fff744ce                  NaN  0.0            NaN      NaN        NaN  ...
fff944d5                  NaN  0.0            NaN      0.0        NaN  ...
fffc0583                  NaN  0.0   41104.658291      0.0        NaN  ...

                                                                  \
                skew                      std
type            Clip      Game       Activity    Assessment Clip
installation_id
0001e90f         0.0  0.136662   46414.227733           NaN  0.0
000447c4         0.0 -0.193808   30331.063784           NaN  0.0
0006a69f         0.0  0.864883  225262.351712  23754.712897  0.0
0006c192         0.0  0.153155   91438.772806  66753.552768  0.0
0009a5a9         0.0 -0.011412   26599.097575           NaN  0.0
...              ...       ...            ...           ...  ...
fff64664         0.0  0.095065   20570.679254           NaN  0.0
fff70c1e         0.0 -0.402845            NaN           NaN  0.0
fff744ce         0.0       NaN            NaN           NaN  0.0
fff944d5         0.0       NaN   20988.152604           NaN  0.0
fffc0583         0.0  1.239384   11874.329119           NaN  0.0


                                        sum
type                      Game     Activity  Assessment Clip         Game
installation_id
0001e90f         156196.423396   29719158.0         NaN  0.0  244106886.0
000447c4          47675.659466    3083716.0         NaN  0.0   11579411.0
0006a69f          52702.709458  185450004.0   6495310.0  0.0  121603005.0
0006c192          42271.971336  125931710.0  27091807.0  0.0   48022420.0
0009a5a9         770552.108203    9954096.0         NaN  0.0  154266444.0
...                        ...          ...         ...  ...          ...
fff64664         583951.268238    5941404.0         NaN  0.0  396182656.0
fff70c1e          53833.619997          NaN         NaN  0.0    3628496.0
fff744ce                   NaN          NaN         NaN  0.0          NaN
fff944d5                   NaN    5950801.0         NaN  0.0          NaN
fffc0583          30076.622080     742095.0         NaN  0.0    8179827.0

[17000 rows x 24 columns]

In [26]:
[col for col in df_installation_id_type.columns if col not in ['installation_id', 'type']]

[('installation_id', ''),
 ('type', ''),
 ('game_time', 'mean'),
 ('game_time', 'sum'),
 ('game_time', 'min'),
 ('game_time', 'max'),
 ('game_time', 'std'),
 ('game_time', 'skew')]

In [43]:
df_test = feature_engineering.comp_train_df
df_test.columns

Index([                     'game_time_mean',
                             'game_time_sum',
                             'game_time_min',
                             'game_time_max',
                             'game_time_std',
                            'game_time_skew',
                                  'Activity',
                                'Assessment',
                                      'Clip',
                                      'Game',
                              'CRYSTALCAVES',
                                 'MAGMAPEAK',
                                      'NONE',
                               'TREETOPCITY',
            ('game_time', 'max', 'Activity'),
          ('game_time', 'max', 'Assessment'),
                ('game_time', 'max', 'Clip'),
                ('game_time', 'max', 'Game'),
           ('game_time', 'mean', 'Activity'),
         ('game_time', 'mean', 'Assessment'),
               ('game_time', 'mean', 'Clip'),
               ('game_time', 'mean', 'Game'),
            ('game_time', 'min', 'Activity'),
          ('game_time', 'min', 'Assessment'),
                ('game_time', 'min', 'Clip'),
                ('game_time', 'min', 'Game'),
           ('game_time', 'skew', 'Activity'),
         ('game_time', 'skew', 'Assessment'),
               ('game_time', 'skew', 'Clip'),
               ('game_time', 'skew', 'Game'),
            ('game_time', 'std', 'Activity'),
          ('game_time', 'std', 'Assessment'),
                ('game_time', 'std', 'Clip'),
                ('game_time', 'std', 'Game'),
            ('game_time', 'sum', 'Activity'),
          ('game_time', 'sum', 'Assessment'),
                ('game_time', 'sum', 'Clip'),
                ('game_time', 'sum', 'Game'),
        ('game_time', 'max', 'CRYSTALCAVES'),
           ('game_time', 'max', 'MAGMAPEAK'),
                ('game_time', 'max', 'NONE'),
         ('game_time', 'max', 'TREETOPCITY'),
       ('game_time', 'mean', 'CRYSTALCAVES'),
          ('game_time', 'mean', 'MAGMAPEAK'),
               ('game_time', 'mean', 'NONE'),
        ('game_time', 'mean', 'TREETOPCITY'),
        ('game_time', 'min', 'CRYSTALCAVES'),
           ('game_time', 'min', 'MAGMAPEAK'),
                ('game_time', 'min', 'NONE'),
         ('game_time', 'min', 'TREETOPCITY'),
       ('game_time', 'skew', 'CRYSTALCAVES'),
          ('game_time', 'skew', 'MAGMAPEAK'),
               ('game_time', 'skew', 'NONE'),
        ('game_time', 'skew', 'TREETOPCITY'),
        ('game_time', 'std', 'CRYSTALCAVES'),
           ('game_time', 'std', 'MAGMAPEAK'),
                ('game_time', 'std', 'NONE'),
         ('game_time', 'std', 'TREETOPCITY'),
        ('game_time', 'sum', 'CRYSTALCAVES'),
           ('game_time', 'sum', 'MAGMAPEAK'),
                ('game_time', 'sum', 'NONE'),
         ('game_time', 'sum', 'TREETOPCITY')],
      dtype='object')

In [44]:
train_labels_df

,game_session,installation_id,title,num_correct,num_incorrect,accuracy,accuracy_group
0,6bdf9623adc94d89,0006a69f,Mushroom Sorter (Assessment),1,0,1.000000,3
1,77b8ee947eb84b4e,0006a69f,Bird Measurer (Assessment),0,11,0.000000,0
2,901acc108f55a5a1,0006a69f,Mushroom Sorter (Assessment),1,0,1.000000,3
3,9501794defd84e4d,0006a69f,Mushroom Sorter (Assessment),1,1,0.500000,2
4,a9ef3ecb3d1acc6a,0006a69f,Bird Measurer (Assessment),1,0,1.000000,3
...,...,...,...,...,...,...,...
17685,c996482b11d149dd,ffc90c32,Bird Measurer (Assessment),1,0,1.000000,3
17686,b05a02b52d5c1f4c,ffd2871d,Cauldron Filler (Assessment),1,0,1.000000,3
17687,5448d652309a6324,ffeb0b1b,Cauldron Filler (Assessment),1,2,0.333333,1
17688,a6885ab824fbc32c,ffeb0b1b,Mushroom Sorter (Assessment),0,1,0.000000,0
17689,dadd1a4d8ac68ab0,ffeb0b1b,Cauldron Filler (Assessment),1,2,0.333333,1

In [70]:
train_labels_df.groupby('title').mean()[['accuracy']]

                              accuracy
title
Bird Measurer (Assessment)    0.387379
Cart Balancer (Assessment)    0.742232
Cauldron Filler (Assessment)  0.735537
Chest Sorter (Assessment)     0.248625
Mushroom Sorter (Assessment)  0.711042

In [51]:
game_session = train_labels_df.groupby('game_session')['installation_id'].size()
game_session[game_session > 1]

Series([], Name: installation_id, dtype: int64)

In [54]:
train_labels_df.groupby('title')['accuracy_group'].agg(lambda x:x.value_counts().index[0])

title
Bird Measurer (Assessment)      0
Cart Balancer (Assessment)      3
Cauldron Filler (Assessment)    3
Chest Sorter (Assessment)       0
Mushroom Sorter (Assessment)    3
Name: accuracy_group, dtype: int64

In [88]:
train_labels_df.groupby('title').median()[['accuracy_group']]

                              accuracy_group
title
Bird Measurer (Assessment)                 1
Cart Balancer (Assessment)                 3
Cauldron Filler (Assessment)               3
Chest Sorter (Assessment)                  0
Mushroom Sorter (Assessment)               3

In [82]:
train_labels_df.groupby('title')['accuracy_group'].agg(lambda x:x.value_counts().index[1])

title
Bird Measurer (Assessment)      1
Cart Balancer (Assessment)      0
Cauldron Filler (Assessment)    2
Chest Sorter (Assessment)       3
Mushroom Sorter (Assessment)    0
Name: accuracy_group, dtype: int64

In [75]:
labels_map = dict(train_labels_df.groupby('title')['accuracy_group'].agg(lambda x:x.value_counts().index[0]))

In [145]:
labels_map

{'Bird Measurer (Assessment)': 0,
 'Cart Balancer (Assessment)': 3,
 'Cauldron Filler (Assessment)': 3,
 'Chest Sorter (Assessment)': 0,
 'Mushroom Sorter (Assessment)': 3}

In [76]:
labels = train_labels_df[['installation_id', 'title', 'accuracy_group']]

In [77]:
labels['title'] = labels['title'].map(labels_map)

/opt/anaconda3/envs/deeplearning/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [89]:
labels

      installation_id  title  accuracy_group
0            0006a69f      3               3
1            0006a69f      0               0
2            0006a69f      3               3
3            0006a69f      3               2
4            0006a69f      0               3
...               ...    ...             ...
17685        ffc90c32      0               3
17686        ffd2871d      3               3
17687        ffeb0b1b      3               1
17688        ffeb0b1b      3               0
17689        ffeb0b1b      3               1

[17690 rows x 3 columns]

In [180]:
grouped_test = test_df.groupby('installation_id').last()['title'].map(labels_map)

In [187]:
feature_engineering.comp_test_df['title'] = grouped_test.reset_index(drop=True).values

In [188]:
feature_engineering.comp_test_df

,game_time_mean,game_time_sum,game_time_min,game_time_max,game_time_std,game_time_skew,Activity,Assessment,Clip,Game,...,"(game_time, skew, TREETOPCITY)","(game_time, std, CRYSTALCAVES)","(game_time, std, MAGMAPEAK)","(game_time, std, NONE)","(game_time, std, TREETOPCITY)","(game_time, sum, CRYSTALCAVES)","(game_time, sum, MAGMAPEAK)","(game_time, sum, NONE)","(game_time, sum, TREETOPCITY)",title
installation_id,,,,,,,,,,,,,,,,,,,,,
00abaee7,63567.408986,55176511,0,1960630,149911.784066,11.578484,454.0,27.0,14.0,373.0,...,8.243170,37649.869386,53238.970991,0.0,222474.449033,1.381808e+07,1.675591e+07,0.0,24602523.0,3
01242218,75770.044869,206018752,0,317027,61789.322138,1.421303,1356.0,245.0,29.0,1089.0,...,0.680239,67990.867851,68507.373099,0.0,45265.064084,7.183540e+07,7.283158e+07,0.0,61351776.0,3
017c5718,33017.233333,4952585,0,60943,17140.293312,-0.421696,143.0,1.0,6.0,0.0,...,-0.430958,75616.844935,143236.743283,0.0,16462.002358,5.277859e+07,1.391002e+08,0.0,4952585.0,3
01a44906,41162.901709,9632119,0,85983,28696.300044,0.231737,145.0,1.0,10.0,78.0,...,0.222744,75616.844935,143236.743283,0.0,28492.647474,5.277859e+07,1.391002e+08,0.0,9632119.0,3
01bc6cb6,147664.880252,140576966,0,511237,128478.809653,1.250042,226.0,1.0,17.0,708.0,...,0.298199,52164.580560,0.000000,0.0,155679.905961,4.737604e+07,0.000000e+00,0.0,93200925.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fee254cf,56850.495283,12052305,0,155008,43941.426092,0.454220,0.0,116.0,4.0,92.0,...,0.446872,75616.844935,143236.743283,0.0,43796.157031,5.277859e+07,0.000000e+00,0.0,12052305.0,3
ff57e602,44772.023102,13565923,0,139394,31785.997875,0.699889,127.0,29.0,11.0,136.0,...,-0.158853,33037.671890,143236.743283,0.0,18885.540724,1.190693e+07,1.391002e+08,0.0,1658996.0,0
ffc73fb2,61802.442966,32508085,0,199825,53869.630318,0.728098,238.0,256.0,32.0,0.0,...,0.433389,52554.796817,15886.543489,0.0,57100.791765,1.126947e+07,2.850762e+06,0.0,18387852.0,3
ffe00ca8,25213.420849,6530276,0,72242,20859.265204,0.705400,123.0,110.0,11.0,15.0,...,-0.201029,0.000000,11511.482848,0.0,22603.416385,0.000000e+00,2.164721e+06,0.0,4365555.0,3
ffe774cc,13978.311111,629024,0,36607,10543.739687,0.406577,0.0,42.0,3.0,0.0,...,0.406577,75616.844935,143236.743283,0.0,10543.739687,5.277859e+07,1.391002e+08,0.0,629024.0,0

(1156414, 20)